@using Newtonsoft.Json;
@using System.Collections.Generic;
@model DFACore.Models.EditBranchViewModel

@{
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
    ViewData["Title"] = "Modify Branch";
}

<div class="row justify-content-center" style="margin-top:50px;">


    <div class="col-md-10 col-sm-10">
        <form id="registrationForm" method="post" style="border: 1px solid #b7b7b7;height: auto;">
            <div style="background-color: #217ff3;color: white;height: 35px;">
                <p class="text-left " style="padding: 8px;font-weight:600;font-size:16px;">Update Consular Office</p>
            </div>
            <div asp-validation-summary="All" class="text-danger" style="margin-top:20px;"></div>
            <div style="padding:10px;">
                <div id="reg-info" style="margin-top: 20px;">
                    <div class="form-group " hidden>
                        <label class="black-text" asp-for="Id"></label>
                        <input asp-for="Id" class="form-control black-text" />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>

                    <div class="form-group black-text">
                        <label class="black-text">Consular Office</label>
                        <label class="form-control black-text">@Model.BranchName</label>
                        <span asp-validation-for="BranchName" class="text-danger"></span>
                    </div>

                    <div class="form-group black-text" hidden>
                        <label class="black-text">Consular Office</label>
                        <input asp-for="BranchName" class="form-control black-text" />
                        <span asp-validation-for="BranchName" class="text-danger"></span>
                    </div>

                    <div class="form-group black-text">
                        <label class="black-text">Address</label>
                        <input asp-for="BranchAddress" class="form-control black-text" />
                        <span asp-validation-for="BranchAddress" class="text-danger"></span>
                    </div>

                    <div class="form-group black-text">
                        <label class="black-text">Contact No.</label>
                        <input asp-for="ContactNumber" class="form-control black-text" />
                        <span asp-validation-for="ContactNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group black-text">
                        <label class="black-text" asp-for="Email"></label>
                        <input asp-for="Email" class="form-control black-text" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group black-text">
                        <label class="black-text">Office Hours</label>
                        <input asp-for="OfficeHours" class="form-control black-text" />
                        <span asp-validation-for="OfficeHours" class="text-danger"></span>
                    </div>



                    <div class="form-group black-text" hidden>
                        <label class="black-text" asp-for="DateCreated"></label>
                        <input asp-for="DateCreated" class="form-control black-text" />
                        <span asp-validation-for="DateCreated" class="text-danger"></span>
                    </div>

                    <div class="form-group black-text">
                        <label class="black-text">Map Address</label>
                        <input asp-for="MapAddress" class="form-control black-text" />
                        <span asp-validation-for="MapAddress" class="text-danger"></span>
                    </div>

                    <div class="form-group black-text">
                        <label class="black-text" style="margin-right:10px;">Is Active</label>
                        <input asp-for="IsActive" style="transform: scale(1.5);" />
                        <span asp-validation-for="IsActive" class="text-danger"></span>
                    </div>

                    <div class="form-group black-text">
                        <label class="black-text" style="margin-right:10px;">Has Expedite</label>
                        <input asp-for="HasExpidite" style="transform: scale(1.5);" />
                        <span asp-validation-for="HasExpidite" class="text-danger"></span>
                    </div>
                    <p><span style="font-weight:bold">Document limit per hour</span>(Zero = timeslot will be disabled)</p>
                    @for (var i = 0; i < Model.ScheduleCapacities.Count; i++)
                    {
                        @Html.HiddenFor(model => model.ScheduleCapacities[i].Id)
                        @Html.HiddenFor(model => model.ScheduleCapacities[i].Type)
                        @Html.HiddenFor(model => model.ScheduleCapacities[i].Name)

                        <div class="form-group black-text">
                            <div class="row">
                                <div class="col-md-3 col-sm-12">
                                    <p><span style="font-weight:bold">Time:</span> @Html.DisplayFor(model => model.ScheduleCapacities[i].Name)</p>
                                </div>
                                <div class="col-md-6 col-sm-12 schedCapacity">
                                    <span style="font-weight:bold">Capacity:</span> @Html.EditorFor(model => model.ScheduleCapacities[i].Capacity)
                                </div>
                            </div>


                        </div>




                        @Html.HiddenFor(model => model.ScheduleCapacities[i].BranchId)
                    }

                    
                <p style="font-weight:bold;color:darkred;text-align:center;">TOTAL CAPACITY: <span class="totalCapacity"></span></p>

                    <p style="font-weight:bold;">SET AVAILABLE DATES</p>
                    <div class="form-group black-text">
                        <div class="row">
                            <div class="col-md-3 col-sm-12">
                                <p><span style="font-weight:bold">From:</span></p>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <span style="font-weight:bold"></span> @Html.EditorFor(model => model.StartTime)
                            </div>
                        </div>
                    </div>
                    <div class="form-group black-text">
                        <div class="row">
                            <div class="col-md-3 col-sm-12">
                                <p><span style="font-weight:bold">To:</span></p>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <span style="font-weight:bold"></span> @Html.EditorFor(model => model.EndTime)
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-5 col-sm-5"><button type="button" class="btn button-secondary col-12" style="color:white; margin-bottom:10px;">@Html.ActionLink("Back", "Branch", "Administration", null, new { @style = "color:white;" })</button></div>
                        <div class="col-md-2 col-sm-2">
                        </div>
                        <div class="col-md-5 col-sm-5"><button type="submit" class="btn btn-primary col-12">Update</button></div>
                    </div>
                </div>
            </div>


        </form>
    </div>

</div>

@section Scripts {

    <script>
        $(document).on("change", ".schedCapacity :input", function () {
            var sum = 0;
            $(".schedCapacity :input").each(function () {
                console.log($(this).val());
                sum += +$(this).val();
            });
            $(".totalCapacity").text(sum);
        });
        $(document).ready(function () {
            var sum = 0;
            $(".schedCapacity :input").each(function () {
                console.log($(this).val());
                sum += +$(this).val();
            });
            $(".totalCapacity").text(sum);
        });
    </script>

    <partial name="_ValidationScriptsPartial" />
}