@using Newtonsoft.Json;
@using System.Collections.Generic;
@model PaginatedList<DFACore.Models.AdminApplicantRecordViewModel>

@{
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
    ViewData["Title"] = "Administrator Homepage";
}

<style>

    #loading {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        display: flex;
        opacity: 0.7;
        background: rgba(0, 0, 0, 0.91);
        z-index: 9999;
        text-align: center;
    }

    #loading-image {
        margin: auto;
    }
</style>
<div style="margin-top:50px;">

    <div id="loading" style="display:none;">
        <div id="loading-image">
            <span id="loading-image" class="fa fa-spinner fa-spin fa-3x" style="color: white"></span>
        </div>
    </div>

    <h3 style="margin-top:50px;">Home</h3>

    <div class="row">
        <div class="col-sm-12">

            <ul class="nav nav-tabs" id="nav-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Export</a>
                </li>
            </ul>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <form asp-action="Index" method="get" style="margin-bottom:20px;">
                        <div class="form-row align-items-center">
                            @*<div class="col-sm-3 my-1">
                                    <label class="sr-only" for="inlineFormInputName">CO</label>
                                    <input type="text" class="form-control" id="inlineFormInputName" placeholder="CO Aseana">
                                </div>*@
                            <div class="col-sm-3 my-1">
                                <label class="sr-only" for="inlineFormInputGroupUsername">Name</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="inlineFormInputGroupUsername" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Enter Name, Email or Appt. Code here">
                                </div>
                            </div>
                            <div class="col-auto my-1">
                                <button type="submit" class="btn btn-primary">Search</button> |
                                <a asp-action="Index">Refresh</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <form method="post" style="margin-bottom:20px;">
                        <div class="form-row align-items-center">

                            @*@if (User.IsInRole("Super Administrator"))
                                {*@
                            <div class="col-sm-2 my-1">
                                <label class="sr-only" for="inlineFormInputGroupUsername">CO</label>
                                <select class="form-control" name="branchId">
                                    @*<option value="@ViewData["CurrentFilter"]">@ViewData["CurrentValue"]</option>*@
                                    <option value="0">All</option>
                                    @foreach (var branch in ViewBag.Branches)
                                    {
                                        <option value="@branch.Id">@branch.BranchName</option>
                                    }
                                </select>
                            </div>
                            @*}*@


                            <div class="col-sm-2 my-1">
                                <label class="sr-only" for="inlineFormInputGroupUsername">From</label>
                                <div class="input-group">
                                    <input type="date" class="form-control" id="inlineFormInputGroupUsername" name="dateFrom" placeholder="From">
                                </div>
                            </div>
                            <label for="inlineFormInputGroupUsername" style="margin:0 10px">To</label>

                            <div class="col-sm-2 my-1">
                                <label class="sr-only" for="inlineFormInputGroupUsername">To</label>
                                <div class="input-group">
                                    <input type="date" class="form-control" id="inlineFormInputGroupUsername" name="dateTo" placeholder="To">
                                </div>
                            </div>


                            <div class="col-auto my-1">
                                <button type="submit" asp-action="ExportAppointmentToPDF" class="btn btn-danger btn-sm">Summary of Appointments</button>
                            </div>
                            <div class="col-auto my-1">
                                <button type="submit" asp-action="ExportAttendanceToPDF" class="btn btn-danger btn-sm">Summary of Attendance</button>
                            </div>
                            <div class="col-auto my-1">
                                <button type="submit" asp-action="ExportUnAttendanceToPDF" class="btn btn-danger btn-sm">Summary of No Shows</button>
                            </div>
                            <div class="col-auto my-1">
                                <button type="submit" asp-action="ExportCancelledAppointmentToPDF" class="btn btn-danger btn-sm">Summary of Cancelled Appointments</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

    <table class="table" style="font-size:12px;">
        <thead>
            @*<th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Scheduled Date</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Last Name</a>
                </th>*@
            <tr style="background-color: #217ff3 !important; color: white;">
                <th>
                    Appt. Code
                </th>
                <th>
                    Schedule
                </th>
                <th>
                    DateCreated
                </th>
                <th>
                    Email
                </th>
                <th>
                    Document Owner
                </th>
                <th>
                    Contact No.
                </th>
                <th>
                    Authorized Rep.
                </th>
                <th>
                    Contact No.
                </th>
                <th>
                    Consular Office
                </th>
                <th>
                    Destination
                </th>
                <th style="padding-right: 117px;">
                    Documents
                </th>
                <th>
                    Qty
                </th>
                <th>
                    Transaction
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                //@{
                var documents = JsonConvert.DeserializeObject<List<ApostilleDocumentModel>>(item.ApostileData);
                //}
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ScheduleDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.MiddleName) @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameOfRepresentative)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RepresentativeContactNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProcessingSite)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CountryDestination)
                    </td>
                    <td colspan="3">

                        <table class="table table-borderless">

                            @foreach (var document in documents)
                            {
                                <tr>
                                    @*//var doc = $"{document.Name} ({document.Quantity}) {document.Transaction}"; //@document.Name @document.Quantity @document.Transaction*@
                                    <td style="padding: 0 10px 0 0;" width="200">
                                        @document.Name
                                    </td>
                                    <td style="padding: 0 10px 0 0;" width="40">
                                        @document.Quantity
                                    </td>
                                    <td style="padding: 0 10px 0 0;">
                                        @document.Transaction
                                    </td>
                                </tr>
                            }

                        </table>


                    </td>

                    <td>
                        @*<a asp-action="ResendApplication" asp-route-id="@item.Id">Resend</a>
                        <a href="@Url.Action($"ResendApplication", "Administration", new { id = item.Id })" target="_blank">Resend</a>*@
                        <a class="btn btn-success btn-sm" onclick="ResendApplication('@item.Id');" style="width:70px;color:white">Resend</a> <br/><br />
                        <a class="btn btn-info btn-sm" href="@Url.Action($"ViewPDFApplication", "Administration", new { id = item.Id })" target="_blank" style="width:70px;">View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        Next
    </a>

</div>

@section Scripts {
    <script>
        function ResendApplication(id) {
            $('#loading').show();
                $.ajax({
                        url: '@Url.Action("ResendApplication", "Administration")',
                        method: 'GET',
                        cache: false,
                        contentType: 'application/json; charset=utf-8',
                        data: { id: id },
                        success: function (result) {
                            
                            $('#loading').hide();
                            toastr.success('Apostille Application has been successfully resend.', 'Success', { timeOut: 5000 })
                            //toastr.success('Success');
                        },
                        error: function () {
                            $('#loading').hide();
                            toastr.error('Something went wrong!', 'Error', { timeOut: 5000 });
                            
                    }
                });
        };

        $(document).ready(function () {

        });
    </script>


    <partial name="_ValidationScriptsPartial" />


}