@using Microsoft.AspNetCore.Identity
@model DFACore.Models.ApplicantRecordViewModel
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .nav-item a {
        height: 30px;
        line-height: 15px;
        border: 1px solid #b7b7b7;
        color: gray;
    }

    .nav-item .active {
        color: white;
    }

    div#application-form {
        color: gray;
    }

    /*button {
        width: 200px;
    }*/
    #documentList h6 {
        font-weight: 600;
    }

    #appointmentTime div {
        margin-left: 10px;
    }

    #step-one input {
        text-transform: uppercase;
        font-weight: 500;
    }

    .red {
        color: red;
    }

    /*.step-three-field {
        margin-top: 10px;
    }*/

    p.appointmentHeader {
        margin-bottom: 0;
    }
    /*li.nav-item {
        height:25px;
        overflow-y:hidden;
    }
        li.nav-item a {
        height: 25px;
        line-height: 10px;
        }*/
</style>
<div class="pageContainers" id="application-form" style="        border: 1px solid #b7b7b7;
        padding: 20px;
        height: auto;">
    <p style=" margin-bottom: 2rem;" class="d-none d-md-block">
        <span class="float-left font-weight-bold">
            @User.Identity.Name
        </span>
        <span class="float-right">
            <a asp-action="LogOff" asp-controller="Account" style="font-weight:bold;">Logout</a>
        </span>
        <span class="float-right" style="padding-right:20px;">
            @DateTime.Now.ToString("MMMM dd yyy HH:mm tt")
        </span>
    </p>
    <div class="d-sm-none">
        <p>
            <span>@User.Identity.Name</span>
            <span class="float-right"> <a asp-action="LogOff" asp-controller="Account" style="font-weight:bold;">Logout</a></span>
        </p>
        <p class="text-center">@DateTime.Now.ToString("MMMM dd yyy HH:mm tt")</p>
    </div>
    @*<button id="Step1">Step1</button>
        <button id="Step2">Step2</button>
        <button id="Step3">Step3</button>*@
    @*<ul class="col-12 nav nav-pills nav-fill" style="margin-bottom: 1rem;z-index:-1;">
            <li class="nav-item">
                <a id="stepOneBtn" class="nav-link" onclick="Navigate('step-one',this)" href="#step-one"><span class="font-weight-bold">STEP 1:</span><span> Apostille Application</span></a>
            </li>
            <li class="nav-item">
                <a id="stepTwoBtn" class="nav-link" onclick="Navigate('step-two',this)" href="#step-two"><span class="font-weight-bold">STEP 2:</span><span> Schedule an Appointment</span></a>
            </li>
            <li class="nav-item">
                <a id="stepThreeBtn" class="nav-link" onclick="Navigate('step-three',this)" href="#step-three"><span class="font-weight-bold">STEP 3:</span><span> Generate Appointment Letter</span></a>
            </li>

        </ul>*@

    <form method="post">
        <div id="step-one" class="tabcontent">
            <div style="background-color: #217ff3;color: white;height: 35px;border-radius:5px;margin-bottom:10px;">
                <p class="text-center" style="padding: 8px;font-weight:600;font-size:16px;">Step 1: Apostille Application</p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                    <h6>Name of the Document Owner</h6>
                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <label asp-for="Title">Title <span class="red">*</span></label>
                            <select asp-for="Title" class="form-control">
                                <option value=""></option>
                                <option value="MR">MR.</option>
                                <option value="MRS">MRS.</option>
                                <option value="MRS">MS.</option>
                            </select>
                            <span asp-validation-for="Title" class="text-danger title"></span>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <label asp-for="FirstName">First Name <span class="red">*</span></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger fname"></span>
                        </div>

                        <div class="col-md-3 col-sm-12">
                            <label asp-for="MiddleName"></label>
                            <input asp-for="MiddleName" class="form-control" />
                            <span asp-validation-for="MiddleName" class="text-danger"></span>
                        </div>

                        <div class="col-md-3 col-sm-12">
                            <label asp-for="LastName">Last Name <span class="red">*</span></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger lname"></span>
                        </div>

                        <div class="col-md-1 col-sm-12">
                            <label asp-for="Suffix"></label>
                            @*<input asp-for="Suffix" class="form-control" />*@
                        <select asp-for="Suffix" class="form-control">
                            <option value="N/A">N/A</option>
                            <option value="JR.">JR.</option>
                            <option value="SR.">SR.</option>
                            <option value="I">I</option>
                            <option value="II">II</option>
                            <option value="III">III</option>
                            <option value="IV">IV</option>
                            <option value="V">V</option>
                            <option value="VI">VI</option>
                            <option value="VII">VII</option>
                            <option value="VIII">VIII</option>
                            <option value="IX">IX</option>
                            <option value="X">X</option>
                        </select>
                            <span asp-validation-for="Suffix" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <h6>Address</h6>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <label asp-for="Address">Block/Lot/Street/Barangay <span class="red">*</span></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger address"></span>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <label asp-for="Address">City/Municipality <span class="red">*</span></label>
                            <select asp-for="Address" class="form-control">
                                <option value=""></option>
                                <option value="CALOOCAN">CALOOCAN</option>
                            </select>
                            <span asp-validation-for="Nationality" class="text-danger nationality"></span>
                        </div>

                        <div class="col-md-3 col-sm-12">
                            <label asp-for="Address">Region/Province <span class="red">*</span></label>
                            <select asp-for="Address" class="form-control">
                                <option value=""></option>
                                <option value="METRO MANILA">METRO MANILA</option>
                            </select>
                            <span asp-validation-for="Nationality" class="text-danger nationality"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <label asp-for="Nationality">Nationality <span class="red">*</span></label>
                            <select asp-for="Nationality" class="form-control">
                                <option value=""></option>
                                <partial name="_CountriesPartial" />
                            </select>
                            <span asp-validation-for="Nationality" class="text-danger nationality"></span>
                        </div>

                        <div class="col-md-6 col-sm-12">
                            <label asp-for="ContactNumber">Contact Number <span class="red">*</span></label>
                            <input asp-for="ContactNumber" class="form-control" type="number" />
                            <span asp-validation-for="ContactNumber" class="text-danger contactnumber"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8 col-sm-12">
                            <label asp-for="CompanyName"></label>
                            <input asp-for="CompanyName" class="form-control" />
                            <span asp-validation-for="CompanyName" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label asp-for="CountryDestination">Country of Destination <span class="red">*</span></label>

                            <select asp-for="CountryDestination" class="form-control">
                                <partial name="_CountriesPartial" />
                            </select>
                            <span asp-validation-for="CountryDestination" class="text-danger countrydestination"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-7 col-sm-12">
                            <label asp-for="NameOfRepresentative"></label>
                            <input asp-for="NameOfRepresentative" class="form-control" />
                            <span asp-validation-for="NameOfRepresentative" class="text-danger"></span>
                        </div>
                        <div class="col-md-5 col-sm-12">
                            <label asp-for="RepresentativeContactNumber"></label>
                            <input asp-for="RepresentativeContactNumber" class="form-control" type="number" />
                            <span asp-validation-for="RepresentativeContactNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-12">
                    <label class="form-check-label">
                        <a href="#" class="font-weight-bold" data-toggle="modal" data-target="#apostileModal" id="documentsSelectionBtn">
                            Click here to select the document/s to be Apostillized
                        </a>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-12">
                    <h6>Authentication requirements may be subject to change. The Department may require additional supporting documents if necessary.</h6>
                    <div style="background-color: #217ff3;color: white;height: auto;">
                        <p class="text-left " style="padding: 8px;font-size:14px;">Number of documents to be Apostillized: <span style="font-weight:bold;" id="documentsCount">0</span></p>
                    </div>
                    <div id="documentList" style="border: 1px solid #b7b7b7; padding: 10px;height:150px; overflow:scroll;">

                        <table class="table" id="documentsTable">
                            <tr>
                                <th>Quantity</th>
                                <th>Document</th>
                            </tr>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12">
                    <input asp-for="ApostileData" id="apostileData" class="form-control" hidden />
                    <span asp-validation-for="ApostileData" class="text-danger apostiledata"></span>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12"></div>
                <div class="col-md-4 col-sm-12">
                    <button id="stepOneNextBtn" type="button" class="btn col-md-12 col-sm-12" style="background-color:#217ff3;color:white;">Next</button>
                </div>
                <div class="col-md-4 col-sm-12"></div>
            </div>



            @*<button id="stepOneBackBtn" class="btn btn-secondary  col-md-4 col-sm-12" style="background: white;color: #217ff3;border: 1px solid darkgray;">Back</button>*@

        </div>
        <div id="step-two" style="display:none" class="tabcontent">
            <div style="background-color: #217ff3;color: white;height: 35px;border-radius:5px;margin-bottom:10px;">
                <p class="text-center" style="padding: 8px;font-weight:600;font-size:16px;">Step 2: Schedule an Appointment</p>
            </div>
            <div class="row col-12">
                <label asp-for="ProcessingSite"></label>
                <input asp-for="ProcessingSite" id="site" class="form-control" value="DFA - Office of the Consular Affairs" />
            </div>
            <div class="row col-12">
                <label asp-for="ProcessingSiteAddress"></label>
                <input asp-for="ProcessingSiteAddress" id="address" class="form-control" value="Bradco Avenue, cor. Macapagal Blvd. ASEANA Business Park, Paranaque City" />
            </div>            <hr />
            <div class="row col-12" style="margin-top:10px;">
                <div class="col-lg-6 col-md-12 col-sm-12" style="margin-bottom: 10px">
                    <div style="border:1px solid #b7b7b7;padding: 10px;">
                        <label>Select Available Schedule</label>
                        @*<input class="form-control" type="date" />*@
                        @*<div id="datetimepicker"></div>*@
                        @*@Html.Partial("_CalendarPartial")*@
                        <partial name="_CalendarPartial" />
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 col-sm-12" style="z-index: -1; opacity: 0.5" id="selectTimeContainer">
                    <div style="border:1px solid #b7b7b7;height:auto;padding:5px;margin-bottom: 10px">
                        <label>Select Time</label>
                        <div class="row">
                            <div class="col-lg-2 col-md-12 col-sm-12"></div>
                            <div class="col-lg-8 col-md-12 col-sm-12">
                                <label><input type="radio" name="option1" value="08:00 AM" /> 8AM</label>
                                <label><input type="radio" name="option1" value="09:00 AM" /> 9AM</label>
                                <label><input type="radio" name="option1" value="10:00 AM" /> 10AM</label>
                                <label><input type="radio" name="option1" value="11:00 AM" /> 11AM</label>
                                <label><input type="radio" name="option1" value="12:00 PM" /> 12PM</label>
                                <label><input type="radio" name="option1" value="01:00 PM" /> 1PM</label>
                                <label><input type="radio" name="option1" value="02:00 PM" /> 2PM</label>
                                <label><input type="radio" name="option1" value="03:00 PM" /> 3PM</label>
                                <label><input type="radio" name="option1" value="04:00 PM" /> 4PM</label>
                            </div>
                            <div class="col-lg-2 col-md-12 col-sm-12"></div>
                        </div>
                        @*<div id="appointmentTime" style="height:auto;">
                                <div class="col-12 ">
                                    <label><input type="radio" name="option1" value="08:00 AM" /> 8:00 AM</label>
                                </div>
                                <div class="col-12 ">
                                    <label><input type="radio" name="option1" value="09:00 AM" /> 9:00 AM</label>
                                </div>
                                <div class="col-12">

                                    <label><input type="radio" name="option1" value="10:00 AM" /> 10:00 AM</label>
                                </div>
                                <div class="col-12">
                                    <label><input type="radio" name="option1" value="11:00 AM" /> 11:00 AM</label>
                                </div>
                                <div class="col-12">
                                    <label><input type="radio" name="option1" value="12:00 PM" /> 12:00 PM</label>
                                </div>
                                <div class="col-12">
                                    <label><input type="radio" name="option1" value="01:00 PM" /> 1:00 PM</label>
                                </div>
                                <div class="col-12">
                                    <label><input type="radio" name="option1" value="02:00 PM" /> 2:00 PM</label>
                                </div>
                                <div class="col-12">
                                    <label><input type="radio" name="option1" value="03:00 PM" /> 3:00 PM</label>
                                </div>
                                <div class="col-12">
                                    <label><input type="radio" name="option1" value="04:00 PM" /> 4:00 PM</label>
                                </div>
                            </div>*@
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div style="border:1px solid #b7b7b7;height:auto;padding:10px;">
                        <p>Selected Date and Time</p>
                        @*<p class="font-weight-bold">May 20, 2020 Friday 11:00 AM</p>*@
                        <input asp-for="ScheduleDate" id="appointmentSchedule" class="form-control font-weight-bold" readonly>
                        <p id="appointmentDate" style="display:none;"></p>
                        <p id="appointmentScheduleTime" style="display:none;"></p>
                        <div id="schedLoader" class="text-center" style="display:none;">
                            <div class="spinner-border m-3" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>

                        <p id="availableSchedMessage" class="text-success font-weight-bold" style="margin-top:10px;display:none;">Schedule available</p>
                        <p id="unAvailableSchedMessage" class="text-danger font-weight-bold" style="margin-top:10px;display:none;">Schedule unavailable</p>
                        <p id="errSchedDate" class="text-danger font-weight-bold" style="margin-top:10px;display:none;">Please choose your preferred date and time.</p>
                        <p style="margin-top:10px;">Processing Site</p>
                        @*<p class="font-weight-bold">(Site and Address)</p>*@
                        <p id="siteAndAddress" class="font-weight-bold"></p>
                        <div class="row">
                            <div class="col-md-5 col-sm-5" style="margin-bottom: 10px;">
                                <button id="backToStepOne" type="button" class="btn btn-secondary  col-md-12 col-sm-12" style="background: white;color: blue;border: 1px solid darkgray;">Back</button>
                            </div>
                            <div class="col-md-2 col-sm-2">

                            </div>
                            <div class="col-md-5 col-sm-5">
                                <button id="stepTwoNextBtn" type="button" class="btn col-md-12 col-sm-12 " style="background-color:#217ff3;color:white;">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="step-three" style="display:none" class="tabcontent">
            <div style="background-color: #217ff3;color: white;height: 35px;border-radius:5px;margin-bottom:10px;">
                <p class="text-center" style="padding: 8px;font-weight:600;font-size:16px;">Step 3: Generate an Appointment Letter</p>
            </div>
            <div id="editor"></div>
            <h6 class="font-weight-bold">Application Summary</h6>
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <p class="appointmentHeader">Application Code</p>
                    <div class="font-weight-bold">
                        <input value="@ViewData["ApplicationCode"]" asp-for="ApplicationCode" type="hidden" />
                        <span id="LblAppointmentCode"> @ViewData["ApplicationCode"]</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <p class="appointmentHeader">Application Date</p>
                    <div class="font-weight-bold">
                        <span id="LblDateOfAppointment"></span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <p class="appointmentHeader">Application Date</p>
                    <div class="font-weight-bold">
                        <span id="LblTimeOfAppointment"></span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <p class="appointmentHeader">Processing Site</p>
                    <div class="font-weight-bold">
                        <span id="LblProcessingSite"></span>
                    </div>
                </div>
            </div>
            <p class="red font-weight-bold">IMPORTANT REMINDER: Be at the DFA Processing Site at least 1 hour BEFORE your scheduled appointment.</p>
            <div class="row">
                <div class="step-three-field col-md-3 col-sm-12">
                    <span>Document Owner: </span>
                </div>
                @*<div class="col-md-1 col-sm-4 d-none d-md-block text-right">
                        <span>: </span>
                    </div>*@
                <div class="col-md-8 col-sm-12">
                    <span id="LblNameOfApplicant"></span>
                </div>

            </div>
            <div class="row">
                <div class="step-three-field col-md-3 col-sm-12">
                    <span>Address: </span>
                </div>
                @*<div class="col-md-1 col-sm-4 d-none d-md-block text-right">
                        <span>: </span>
                    </div>*@
                <div class="col-md-8 col-sm-12">
                    <span id="LblAddress"></span>
                </div>
            </div>
            <div class="row">
                <div class="step-three-field col-md-3 col-sm-12">
                    <span>Contact No: </span>
                </div>
                @*<div class="col-md-1 col-sm-4 d-none d-md-block text-right">
                        <span>: </span>
                    </div>*@
                <div class="col-md-8 col-sm-12">
                    <span id="LblContactNumber"></span>
                </div>
            </div>
            <div class="row">
                <div class="step-three-field col-md-3 col-sm-12">
                    <span>Authorize Representative: </span>
                </div>
                @*<div class="col-md-1 col-sm-4 d-none d-md-block text-right">
                        <span>: </span>
                    </div>*@
                <div class="col-md-8 col-sm-12">
                    <span id="LblAuthorizeRepresentative"></span>
                </div>
            </div>
            <div class="row">
                <div class="step-three-field col-md-3 col-sm-12">
                    <span>Contact No: </span>
                </div>
                @*<div class="col-md-1 col-sm-4 d-none d-md-block text-right">
                        <span>: </span>
                    </div>*@
                <div class="col-md-8 col-sm-12">
                    <span id="LblRepresentativeContactNumber"></span>
                </div>
            </div>

            <div class="row">
                <div class="step-three-field col-md-3 col-sm-12">
                    <span>Company/ Office: </span>
                </div>
                @*<div class="col-md-1 col-sm-4 d-none d-md-block text-right">
                        <span>: </span>
                    </div>*@
                <div class="col-md-8 col-sm-12">
                    <span id="LblCompany"></span>
                </div>
            </div>

            <div class="row">
                <div class="step-three-field col-md-3 col-sm-12">
                    <span>Country of Destination: </span>
                </div>
                @*<div class="col-md-1 col-sm-4 d-none d-md-block text-right">
                        <span>: </span>
                    </div>*@
                <div class="col-md-8 col-sm-12">
                    <span id="LblCountryDestination"></span>
                </div>
            </div>

            <div class="row">
                <div class="step-three-field col-md-3 col-sm-12">
                    <span>Type of Document to be Apostillized: </span>
                </div>
                @*<div class="col-md-1 col-sm-4 d-none d-md-block text-right">
                        <span>: </span>
                    </div>*@
                <div class="col-md-8 col-sm-12">
                    <span id="LblTypeOfDocument"></span>
                </div>
            </div>


            @*<div class="step-three-field col-md-4 col-sm-12">
                        <span>Date of Appointment</span>
                    </div>
                    <div class="col-md-1 col-sm-4 d-none d-md-block text-right">
                        <span>: </span>
                    </div>
                    <div class="col-md-7 col-sm-12 font-weight-bold">
                        <span id="LblDateOfAppointment"></span>
                    </div>

                <div class="step-three-field col-md-4 col-sm-12">
                    <span>Time</span>
                </div>
                <div class="col-md-1 col-sm-4 d-none d-md-block text-right">
                    <span>: </span>
                </div>
                <div class="col-md-7 col-sm-12 font-weight-bold">
                    <span id="LblTimeOfAppointment"></span>
                </div>*@


            <div class="row">
                <div class="step-three-field col-md-3 col-sm-12">
                    <span>Total Fees:</span>
                </div>
                @*<div class="col-md-1 col-sm-4 d-none d-md-block text-right">
                        <span>: </span>
                    </div>*@
                <div class="col-md-8 col-sm-12 font-weight-bold">
                    <span id="LblPayment"> PhP 500.00</span>
                </div>
            </div>
            @*<div class="step-three-field col-md-4 col-sm-12">
                        <span>Appointment Code</span>
                    </div>
                    <div class="col-md-1 col-sm-4 d-none d-md-block text-right">
                        <span>: </span>
                    </div>
                    <div class="col-md-7 col-sm-12 font-weight-bold">
                        <input value="@ViewData["ApplicationCode"]" asp-for="ApplicationCode" type="hidden" />
                        <span id="LblAppointmentCode"> @ViewData["ApplicationCode"]</span>
                    </div>

                <div class="step-three-field col-md-4 col-sm-12">
                    <span>Processing Site</span>
                </div>
                <div class="col-md-1 col-sm-4 d-none d-md-block text-right">
                    <span>: </span>
                </div>
                <div class="col-md-7 col-sm-12 font-weight-bold">
                    <span id="LblProcessingSite"></span>
                </div>*@


            <p style="margin-top:10px">An Appointment Letter will be sent to your email. Please print and present confirmed Appointment Letter when you visit the DFA - Office of the Consular Affairs for the processing of your Apostille.</p>

            <div class="row">
                <div class="col-md-2 col-sm-1">

                </div>
                <div class="col-md-3 col-sm-12" style="margin-bottom: 10px;">
                    <button type="button" id="stepThreeBackBtn" class=" btn btn-secondary col-md-12 col-sm-12" style="background: white;color: blue;border: 1px solid darkgray;">Back</button>
                </div>
                <div class="col-md-2 col-sm-1">

                </div>
                <div class="col-md-3 col-sm-12">
                    <button type="submit" class="btn col-md-12 col-sm-12 float-right" style="background-color:#217ff3;color:white;" id="sendPdfToEmail">Send to Email</button>
                </div>
                <div class="col-md-2 col-sm-1">

                </div>
            </div>
            @*<p style="margin-top:10px" class="text-center">Did'nt receive? <a href="#">Send email Again.</a></p>*@
        </div>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="apostileModal" tabindex="-1" role="dialog" aria-labelledby="apostileModallLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Select Documents</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <thead></thead>
                        <tr style="background-color: #217ff3;color: white;height: 35px;">
                            <th>TYPE OF DOCUMENT</th>
                            <th>GUIDELINES</th>
                        </tr>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label font-weight-bold">
                                            <input type="checkbox" class="form-check-input" id="nbiClearance" value="NBI Clearance">1. NBI Clearance/Sundry
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <p>*Original document issued by National Bureau of Investigation (NBI) with dry seal.</p>
                                    <p>*Personal Copy is NOT valid.</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-check-label font-weight-bold">
                                        2. PSA/NSO/Local Civil Registrar
                                    </label>
                                    <div class="form-check">
                                        <label class="form-check-label ">
                                            <input type="checkbox" class="form-check-input" id="birthCertificate" value="Birth Certificate"> Birth Certificate
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label ">
                                            <input type="checkbox" class="form-check-input" id="marriageCertificate" value="Marriage Certificate"> Marriage Certificate
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label ">
                                            <input type="checkbox" class="form-check-input" id="deathCertificate" value="Death Certificate"> Death Certificate
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label ">
                                            <input type="checkbox" class="form-check-input" id="cenomar" value="Certificate of No Marriage Record"> Certificate of No Marriage Record (CENOMAR, Advisory on Marriage and/or Negative Records)
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <p>*Original document issued by Philippine Statistics Authority (PSA)/ National Statistics Office (NSO).</p>
                                    <p>*For newly registered records, Local Civil Registrar (LCR) copy should be certified by PSA.</p>
                                    <p>*Provide an LCR copy of Birth (Form 1A)/ Death (Form 2A)/ Marriage (Form 3A) Certificate if the entries from PSA/NSO are UNCLEAR.</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-check-label font-weight-bold">
                                        3. School Documents
                                    </label>
                                    <div class="form-check">
                                        <label class="form-check-label ">
                                            <input type="checkbox" class="form-check-input" id="elementaryAndHighschool" value="Form 137 & Diploma"> For Elementary and High School Level (Form 137 and Diploma)
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <p>*Certified True Copies from school; and</p>
                                    <p>*Certification, Authentication and Verification (CAV) from DepEd Regional Office.</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label ">
                                            <input type="checkbox" class="form-check-input" id="techVoch" value="TOR & Diploma/National Certificate"> For Technical and Vocational Courses (TOR and Diploma/National Certificate)
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <p>*Certified True Copies from school; and</p>
                                    <p>*Certification, Authentication and Verification (CAV) from Technical and Skills Development Authority (TESDA).</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label ">
                                            <input type="checkbox" class="form-check-input" id="stateCollegesAndUniversities" value="TOR & Diploma"> For State Colleges and Universities (TOR and Diploma)
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <p>*Certified True Copies from school; and Certification, Authentication and Verification (CAV) from the school.</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label ">
                                            <input type="checkbox" class="form-check-input" id="privateOrLocalColleges" value="TOR & Diploma"> For Private/Local Colleges and Universities (TOR and Diploma)
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <p>*Certified True Copies from school; and </p>
                                    <p>*Certification, Authentication and Verification (CAV) from Commission on Higher Education (CHED). </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label font-weight-bold">
                                            <input type="checkbox" class="form-check-input" id="PRC" value="PRC Document/s"> 4. Professional Regulation Commission (PRC) document/s
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="small" id="qtyPRC" style="width: 15%;height:30px;">
                                        <span> Please insert no. of document/s (if more than one (1) type of document)</span>
                                        @*<label for="qtyPRC"></label>*@
                                    </div>
                                </td>
                                <td>
                                    <p>*Certified True Copies from PRC.</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label font-weight-bold">
                                            <input type="checkbox" class="form-check-input" id="medCerts" value="Medical Certificates"> 5. Medical Certificates
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="small" id="qtyMedCerts" style="width: 15%;height:30px;">
                                        <span> Please insert no. of document/s (if more than one (1) type of document)</span>
                                        @*<label for="qtyPRC"></label>*@
                                    </div>
                                </td>
                                <td>
                                    <p>*For employement: DOH Stamp per document.</p>
                                    <p>*For other purpose: Certification issued by the DOH with attached Medical Certificate.</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label font-weight-bold">
                                            <input type="checkbox" class="form-check-input" id="CAAP" value="CAAP Documents"> 6. Civil Aviation Authority of the Philippines (CAAP) issued document/s
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="small" id="qtyCAAP" style="width: 15%;height:30px;">
                                        <span> Please insert no. of document/s (if more than one (1) type of document)</span>
                                        @*<label for="qtyPRC"></label>*@
                                    </div>
                                </td>
                                <td>
                                    <p>*Certificate by CAAP.</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label font-weight-bold">
                                            <input type="checkbox" class="form-check-input" id="driverLicense" value="Driver's License"> 7. Driver's License
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <p>*Certification from Land Transportation Office (LTO Main Branch Only).</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-check-label font-weight-bold">
                                        8. Documents issued by a private entity
                                    </label>
                                    <div class="form-check">
                                        <label class="form-check-label ">
                                            <input type="checkbox" class="form-check-input" id="COE" value="Certificate of Employment"> Certificate of Employment
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label ">
                                            <input type="checkbox" class="form-check-input" id="invitationLetter" value="Invitation Letter"> Invitation Letter
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label ">
                                            <input type="checkbox" class="form-check-input" id="trainings" value="Trainings"> Trainings
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label ">
                                            <input type="checkbox" class="form-check-input" id="baptismalCert" value="Baptismal Certificate"> Baptismal Certificate
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label ">
                                            <input type="checkbox" class="form-check-input" id="privateIssuedOtherDocu" value="Other Document (Private Entity)"> Other Document
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <p>*Notarized Affidavit stating financial circumstances and indicating certificate/s as attachments.</p>
                                    <p>*Certificate of Authority for a Notarial Act (CANA) signed by the Executive Judge/Vice-Executive Judge/any office authorized signatories (issued by the Regional Trial Court).</p>
                                    <p>*Copy of Notarial Commission is not the same as Certificate of Authority for a Notarial Act.</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-check-label font-weight-bold">
                                        9. Notary Public Documents
                                    </label>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" id="specialPowerOfAttorney" value="Special Power of Attorney"> Special Power of Attorney
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label ">
                                            <input type="checkbox" class="form-check-input" id="MOA" value="Memorandum of Agreement"> Memorandum of Agreement
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label ">
                                            <input type="checkbox" class="form-check-input" id="MOU" value="Memorandum of Understanding"> Memorandum of Understanding
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label ">
                                            <input type="checkbox" class="form-check-input" id="anyContract" value="Contract"> Any Form of Contract
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label ">
                                            <input type="checkbox" class="form-check-input" id="affidavitOfConsent" value="Affidavit of Consent/Advice"> Affidavit of Consent or Advise
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label ">
                                            <input type="checkbox" class="form-check-input" id="jointAffidavit" value="Joint Affidavit"> Joint Affidavit
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label ">
                                            <input type="checkbox" class="form-check-input" id="otherAffidavit" value="Other Affidavit"> Other Affidavit
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <p>*Certificate of Authority for a Notarial Act (CANA) signed by the Executive Judge/Vice-Executive Judge/any office authorized signatories (issued by the Regional Trial Court).</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-check-label font-weight-bold">
                                        10. Court Document/s
                                    </label>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" id="courtDecision" value="Court Decision"> Decision
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" id="courtResolution" value="Court Resolution/Order"> Resolution/Order
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label ">
                                            <input type="checkbox" class="form-check-input" id="courtOtherDocument" value="Court Other Document"> Other Court Documents
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <p>*Certified True Copies from the Court.</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label font-weight-bold">
                                            <input type="checkbox" class="form-check-input" id="immigrationRecords" value="Immigration Record/s"> 11. Immigration Record/s
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="small" id="qtyImmigration" style="width: 15%;height:30px;">
                                        <span> Please insert no. of document/s (if more than one (1) type of document)</span>
                                        @*<label for="qtyPRC"></label>*@
                                    </div>
                                </td>
                                <td>
                                    <p>*Certified by Bureau of Immigration.</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label font-weight-bold">
                                            <input type="checkbox" class="form-check-input" id="DSWDClearance" value="DSWD Clearance"> 12. DSWD Clearance
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="small" id="qtyDSWDClearance" style="width: 15%;height:30px;">
                                        <span> Please insert no. of document/s (if more than one (1) type of document)</span>
                                        @*<label for="qtyPRC"></label>*@
                                    </div>
                                </td>
                                <td>
                                    <p>*Original document issued by Department of Social Welfare and Development.</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label font-weight-bold">
                                            <input type="checkbox" class="form-check-input" id="policeClearance" value="Police Clearance"> 13. Police Clearance/Sundry
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <p>*Original document issued by Philippine National Police (PNP).</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label font-weight-bold">
                                            <input type="checkbox" class="form-check-input" id="businessRegistration" value="Business Registration & Other Documents issued by a Government Agency">
                                            14. Business Registration & Other Documents issued by a Government Agency (e.g. SEC, DTI, SSS, BIR, Municipal Business Permit and Licensing Office, etc.)
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="small" id="qtyBusinessRegistration" style="width: 15%;height:30px;">
                                        <span> Please insert no. of document/s (if more than one (1) type of document)</span>
                                        @*<label for="qtyPRC"></label>*@
                                    </div>
                                </td>
                                <td>
                                    <p>*Certified true copy/ies from the issuing office.</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label font-weight-bold">
                                            <input type="checkbox" class="form-check-input" id="barangayClearance" value="Barangay Clearance/Certifcate">
                                            15. Barangay Clearance/Certifcate
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <p>*Mayor's certification/clearance which has a jurisdiction over the Barangay.</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label font-weight-bold">
                                            <input type="checkbox" class="form-check-input" id="exportDocuments" value="Export Document/s">
                                            16. Export Document/s
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="small" id="qtyExportDocuments" style="width: 15%;height:30px;">
                                        <span> Please insert no. of document/s (if more than one (1) type of document)</span>
                                        @*<label for="qtyPRC"></label>*@
                                    </div>
                                </td>
                                <td>
                                    <p>*Certified by Philippine Chamber of Commerce (PCCI), Department Of Health (DOH), Department of Agriculture (DA) or by the Food and Drug Administration (FDA) depending on the nature of the document.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="row" style="width: 100%;">
                        <div class="col-md-5 col-sm-5" style="margin-left: -15px;"> <button type="button" class="btn btn-secondary col-md-12 col-sm-12" data-dismiss="modal" style="color:#217ff3;background-color:white;">Close</button></div>
                        <div class="col-md-2 col-sm-2">
                        </div>
                        <div class="col-md-5 col-sm-5"><button id="selectDocumentsBtn" type="button" class="btn btn-primary col-md-12 col-sm-12" style="color:white;background-color:#217ff3;" data-dismiss="modal">Select</button></div>
                    </div>                   
                   

                </div>
            </div>
        </div>
    </div>


</div>
@section Scripts {


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
    <script>
        $(document).ready(function () {
            var canConfirm = false;
            $("#backToStepOne").click(function () {
                $('#stepOneBtn').click();
                $("#step-one").show();
                $("#step-two").hide();
                $("#step-three").hide();
            });
            $("#stepOneNextBtn").click(function () {

                if ($('#Title').val() == "" || $('#FirstName').val() == "" || $('#LastName').val() == "" || $('#Address').val() == "" || $('#Nationality').val() == ""
                    || $('#ContactNumber').val() == "" || $('#CountryDestination').val() == "" || $('#apostileData').val() == "") {

                    if ($('#Title').val() == "")
                        $('.title').text('This field is required.');
                    else
                        $('.title').text('');

                    if ($('#FirstName').val() == "")
                        $('.fname').text('This field is required.');
                    else
                        $('.fname').text('');

                    if ($('#LastName').val() == "")
                        $('.lname').text('This field is required.');
                    else
                        $('.lname').text('');

                    if ($('#Address').val() == "")
                        $('.address').text('This field is required.');
                    else
                        $('.address').text('');

                    if ($('#Nationality').val() == "")
                        $('.nationality').text('This field is required.');
                    else
                        $('.nationality').text('');

                    if ($('#ContactNumber').val() == "")
                        $('.contactnumber').text('This field is required.');
                    else
                        $('.contactnumber').text('');

                    if ($('#CountryDestination').val() == "")
                        $('.countrydestination').text('This field is required.');
                    else
                        $('.countrydestination').text('');

                    if ($('#apostileData').val() == "")
                        $('.apostiledata').text('This field is required.');
                    else
                        $('.apostiledata').text('');


                    return;
                }
                else {
                    $('.title').text('');
                    $('.fname').text('');
                    $('.lname').text('');
                    $('.address').text('');
                    $('.nationality').text('');
                    $('.contactnumber').text('');
                    $('.countrydestination').text('');
                    $('.apostiledata').text('');
                }


                $("#step-one").hide();
                $("#step-two").show();
                $("#step-three").hide();
                //$('#stepTwoBtn').click();
            });
            $("#stepTwoNextBtn").click(function () {
                if (canConfirm == false) {
                    $("#errSchedDate").show();
                    return;
                }
                $("#step-one").hide();
                $("#step-two").hide();
                $("#step-three").show();
                $('#stepThreeBtn').click();

                $('#LblNameOfApplicant').text($('#Title').val().toUpperCase() + '. ' + $('#FirstName').val().toUpperCase() + ' ' + $('#MiddleName').val().toUpperCase() + ' ' + $('#LastName').val().toUpperCase() + ' ' + $('#Suffix').val().toUpperCase());

                var docuType = JSON.parse($('#apostileData').val())
                var lbldocuType = $('#LblTypeOfDocument');

                docuType.forEach(function (v) {
                    var Quantity = v.Quantity;
                    var DocuName = v.Name;
                    lbldocuType.append('(' + Quantity + ') ' + DocuName + '<br />');

                });


                console.log(docuType);
                //$('#LblTypeOfDocument').text($('#apostileData').val());

                $('#LblAddress').text($('#Address').val());
                $('#LblContactNumber').text($('#ContactNumber').val());
                $('#LblAuthorizeRepresentative').text($('#NameOfRepresentative').val());
                $('#LblRepresentativeContactNumber').text($('#RepresentativeContactNumber').val());
                $('#LblCompany').text($('#CompanyName').val());


                $('#LblCountryDestination').text($('#CountryDestination').val());

                $('#LblDateOfAppointment').text($('#appointmentDate').text()); //appointmentDate
                $('#LblTimeOfAppointment').text($('input[name=option1]:checked').val());
                $('#LblPayment').text('PhP'.concat(' ',parseInt($('#documentsCount').text()) * 100,'.00') );
                //$('#LblAppointmentCode').text('MNL-20200524');
                $('#LblProcessingSite').text($('#site').val().toUpperCase()/* + ' ' + $('#address').val().toUpperCase()*/);

            });



            $('#stepOneBtn').click();
            $('#siteAndAddress').text($('#site').val().concat(' ', $('#address').val()));

            //$('.backBtn').click(function () {
            //    $('#stepOneBtn').click();
            //    $('#selectTimeContainer').css('z-index','-1');
            //    $('#selectTimeContainer').css('opacity', '0.5');
            //    $('#appointmentSchedule').val('');
            //});
            //$('#stepOneNextBtn').click(function () {
            //    $('#stepTwoBtn').click();
            //});
            $('#stepThreeBackBtn').click(function () {
                //$('#stepOneBtn').click();
                $("#step-one").hide();
                $("#step-two").show();
                $("#step-three").hide();
            });
            $('#documentsCount').text(0);

            $('#selectDocumentsBtn').click(function () {
                var documentObject = [];
                $(':checkbox:checked').each(function (i) {
                    if ($(this).val() == "Professional Regulation Commission (PRC) document/s") {
                        documentObject[i] = ({ Name: $(this).val(), Quantity: !$('#qtyPRC').val() ? 1 : parseInt($('#qtyPRC').val()) });
                    }
                    else if ($(this).val() == "Medical Certificates") {
                        documentObject[i] = ({ Name: $(this).val(), Quantity: !$('#qtyMedCerts').val() ? 1 : parseInt($('#qtyMedCerts').val()) });
                    }
                    else if ($(this).val() == "Civil Aviation Authority of the Philippines (CAAP) issued document/s") {
                        documentObject[i] = ({ 'Name': $(this).val(), 'Quantity': !$('#qtyCAAP').val() ? 1 : parseInt($('#qtyCAAP').val()) });
                    }
                    else if ($(this).val() == "Immigration Record/s") {
                        documentObject[i] = ({ 'Name': $(this).val(), 'Quantity': !$('#qtyImmigration').val() ? 1 : parseInt($('#qtyImmigration').val()) });
                    }
                    else if ($(this).val() == "DSWD Clearance") {
                        documentObject[i] = ({ 'Name': $(this).val(), 'Quantity': !$('#qtyDSWDClearance').val() ? 1 : parseInt($('#qtyDSWDClearance').val()) });
                    }
                    else if ($(this).val() == "Business Registration & Other Documents issued by a Government Agency") {
                        documentObject[i] = ({ 'Name': $(this).val(), 'Quantity': !$('#qtyBusinessRegistration').val() ? 1 : parseInt($('#qtyBusinessRegistration').val()) });
                    }
                    else if ($(this).val() == "Export Document/s") {
                        documentObject[i] = ({ 'Name': $(this).val(), 'Quantity': !$('#qtyExportDocuments').val() ? 1 : parseInt($('#qtyExportDocuments').val()) });
                    }
                    else {
                        documentObject[i] = ({ Name: $(this).val(), Quantity: 1 });
                    }
                });
                $("#documentsTable tbody > tr").empty();
                $("#documentsTable").append('<tr><th>Quantity</th><th>Document</th></tr>');
                //var tbodyContent = '';
                $.each(documentObject, function (index, value) {
                    $('#documentsTable tr:last').after('<tr><td>'.concat(value.Quantity, '</td><td>', value.Name, '</td></tr>'));
                    //tbodyContent += '<tr><td>'.concat(value.Quantity, '</td><td>', value.Name, '</td></tr>');
                });
                //console.log(tbodyContent);
                //$('#documentsTable tbody').append(tbodyContent);
                $('#documentsCount').text(documentObject.length);
                $('#apostileData').val(JSON.stringify(documentObject));
                console.log(JSON.stringify(documentObject));
            });

            $('#appointmentScheduleTime').text('08:00 AM')
            $("input[type*='radio']").click(function () {

                console.log($(this).val());
                //$('#appointmentSchedule').val('');
                $('#appointmentScheduleTime').text($(this).val());
                $('#appointmentSchedule').val($('#appointmentDate').text().concat(' ', $('#appointmentScheduleTime').text()));
                $('#appointmentSchedule').change();
            });

            @*var doc = new jsPDF();

            var specialElementHandlers = {
                '#editor': function (element, renderer) {
                    return true;
                }
            };
            $('#sendPdfToEmail').click(function () {
                $.ajax({
                    url: '@Url.Action("GeneratePdf")',
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    data: {html : JSON.stringify("<h1>Hello World</h1>")}
                    //success: function (result) {
                    //    console.log($('#appointmentSchedule').val());
                    //    if (result) {
                    //        $('#availableSchedMessage').show();
                    //    }
                    //    else {
                    //        $('#unavailableSchedMessage').show();
                    //    }
                    //}
                });
                //doc.fromHTML($('#step-three').html(), 30, 30, {
                //    'width': 550,
                //    'elementHandlers': specialElementHandlers
                //});
                //doc.save('sample-file.pdf');
            });*@

            $('#appointmentSchedule').change(function () {
                $("#errSchedDate").hide();
                $('#schedLoader').show();
                $.ajax({
                    url: '@Url.Action("ValidateScheduleDate")',
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    data: { scheduleDate: $('#appointmentSchedule').val()},
                    success: function (result) {
                        console.log('success');
                        $('#schedLoader').hide();
                        if (result) {
                            $('#availableSchedMessage').show();
                            $('#unavailableSchedMessage').hide();
                            canConfirm = true;
                        }
                        else {
                            $('#availableSchedMessage').hide();
                            $('#unavailableSchedMessage').show();
                            canConfirm = false;
                        }
                    },
                    error: function () {
                        $('#schedLoader').hide();
                        canConfirm = false;
                        alert('Something went wrong!');
                    }

                });

            });

        });


        function Navigate(step, element) {
            var i, tabcontent, tablinks;
            tabcontent = $('.tabcontent');
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = $('.nav-link');
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
                tablinks[i].style.color = "gray";
            }
            element.style.backgroundColor = "#217ff3";
            element.style.color = "white";
            document.getElementById(step).style.display = "block";
            if (step == "step-one") {
                $('#selectTimeContainer').css('z-index','-1');
                $('#selectTimeContainer').css('opacity', '0.5');
                $('#appointmentSchedule').val('');
            }
        };

    </script>
}
