@using Microsoft.AspNetCore.Identity
@model DFACore.Models.ApplicantRecordViewModel
@using Microsoft.Extensions.Options
@using System.Linq

@{
    ViewData["Title"] = "Home Page";
    var info = ViewData["Info"];



}

<style>
    body {
        margin: 0 !important;
    }

    .nav-item a {
        height: 30px;
        line-height: 15px;
        border: 1px solid #b7b7b7;
        color: gray;
    }

    .nav-item .active {
        color: white;
    }

    div#application-form {
        color: black;
    }

    #documentList h6 {
        font-weight: 600;
    }

    #appointmentTime div {
        margin-left: 10px;
    }

    #step-one input, #step-one-authorized input {
        text-transform: uppercase;
        font-weight: 500;
    }

    .red {
        color: red;
    }

    p.appointmentHeader {
        margin-bottom: 0;
    }


    .mapouter {
        position: relative;
        text-align: right;
        height: 500px;
        width: auto;
    }

    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 500px;
        width: 100% !important;
    }

    #loading {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        display: flex;
        opacity: 0.7;
        background: rgba(0, 0, 0, 0.91);
        z-index: 9999;
        text-align: center;
    }

    #loading-image {
        margin: auto;
    }

    .img-fluid {
        width: 100% !important;
    }
</style>

<div class="pageContainers" id="application-form" padding: 20px;
     height: auto;">
    <div id="loading" style="display:none">
        <div id="loading-image">
            <i id="loading-image" class="fa fa-spinner fa-spin fa-3x" style="color: white"></i>
        </div>
    </div>
    <div id="formContainer" class="mt-5">
        <div asp-validation-summary="All" class="text-danger"></div>

        @*<section class="header px-4 mt-3">
                <div class="text-center mt-3 w-100 mb-4">
                    <h3 class="black-text bold mb-0 mt-2 h3">Apostille Appointment System</h3>
                </div>
            </section>*@


        <div class="media">
            <div class="media-body">
                <p class="grey-text-bold font-weight-bold p-0 p-label">
                    @User.Identity.Name<br />
                    @DateTime.Now.ToString("MMMM dd yyy HH:mm tt")
                </p>
            </div>
            <p class="float-right text-right mt-auto p-label">
                <a class="text-uppercase bold" asp-action="LogOff" asp-controller="Account">Logout</a>
            </p>
        </div>

        @*<br class="show-on-large-only" />

            <div class="hide-on-large">
                <p class="p-label mb-1">
                    <span class="grey-text-bold">@User.Identity.Name</span>
                    <span class="float-right">@DateTime.Now.ToString("MMMM dd yyy HH:mm tt")</span>
                </p>
                <p class="text-right p-label"> <a asp-action="LogOff" asp-controller="Account" style="font-weight:bold;">Logout</a></p>
            </div>*@

        @{
            <form id="account" method="post" asp-action="ApostilleSchedule" asp-controller="Home">


                <div>
                    <div style="background-color: #217ff3;color: white;height: 35px;border-radius:5px;margin-bottom:10px;">
                        <p class="text-center d-none d-md-block" style="padding: 8px;font-weight:600;font-size:16px;">Step 2 of 5</p>
                        <p class="text-center d-md-none" style="padding: 8px;font-weight:600;font-size:11px;">Step 2 of 5</p>
                    </div>

                    <div class="card-panel white-bg p-4">

                        <div>
                            <div class="mb-3">
                                <div class="d-flex mb-3">
                                    <div class="d-flex flex-column">
                                        <label class="mb-0 bold"><i>Please provide the required information</i></label>
                                        <p class="mb-0 p-alt p-label"><i>(Mangyaring ibigay ang kinakailangang impormasyon)</i></p>
                                    </div>
                                    <p class="mb-0 p-label black-text ml-auto mt-auto"><i>Fields with (<b class="red-text">*</b>) is required</i></p>
                                </div>



                                <div class="border p-3 ">
                                    @if (ViewBag.DocumentType == "Authorized")
                                    {<p class="text-primary bold">Authorized Representative</p>}
                                    else
                                    {<p class="text-primary bold">Document Owner</p>}


                                    <div class="form-group">
                                        <div class="media">
                                            <div class="row media-body">
                                                <div class="col-md-4 col-sm-12">
                                                    <label class="p-label bold mb-0" asp-for="FirstName">First Name <span class="p-alt"><i>(Unang Pangalan)</i></span> <span class="red">*</span></label>
                                                    <input asp-for="FirstName" class="form-control" />
                                                    <span asp-validation-for="FirstName" class="text-danger fname"></span>
                                                </div>

                                                <div class="col-md-4 col-sm-12">
                                                    <label class="p-label bold mb-0" asp-for="MiddleName">Middle Name <span class="p-alt"><i>(Gitnang Pangalan)</i></span></label>
                                                    <input asp-for="MiddleName" class="form-control" />
                                                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                                                </div>

                                                <div class="col-md-4 col-sm-12">
                                                    <label class="p-label bold mb-0" asp-for="LastName">Last Name <span class="p-alt"><i>(Apelyido)</i></span><span class="red">*</span></label>
                                                    <input asp-for="LastName" class="form-control" />
                                                    <span asp-validation-for="LastName" class="text-danger lname"></span>
                                                </div>
                                            </div>

                                            <div class="ml-4">
                                                <label class="p-label bold mb-0" asp-for="Suffix"></label>
                                                @*<input asp-for="Suffix" class="form-control" />*@
                                                <select asp-for="Suffix" class="form-control  entry-bg">
                                                    <option value="">N/A</option>
                                                    <option value="JR.">JR.</option>
                                                    <option value="SR.">SR.</option>
                                                    <option value="I">I</option>
                                                    <option value="II">II</option>
                                                    <option value="III">III</option>
                                                    <option value="IV">IV</option>
                                                    <option value="V">V</option>
                                                    <option value="VI">VI</option>
                                                    <option value="VII">VII</option>
                                                    <option value="VIII">VIII</option>
                                                    <option value="IX">IX</option>
                                                    <option value="X">X</option>
                                                    <option value="XI">XI</option>
                                                    <option value="XII">XII</option>
                                                    <option value="XIII">XIII</option>
                                                    <option value="XIV">XIV</option>
                                                    <option value="XV">XV</option>
                                                </select>
                                                <span asp-validation-for="Suffix" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group mb-0">
                                        <div class="row">
                                            @if (ViewBag.DocumentType != "Authorized")
                                            {
                                                <div class="col-md-4 col-sm-12">
                                                    <label class="p-label bold mb-0" asp-for="DateOfBirth">Date of Birth <span class="p-alt"><i>(Araw ng Kapanganakan)</i></span>  <span class="red">*</span></label>
                                                    <input type="date" asp-for="DateOfBirth" class="form-control dateOfBirthOwner entry-bg" />
                                                    <span asp-validation-for="DateOfBirth" class="text-danger dateofbirth"></span>
                                                </div>
                                            }
                                            <div class="col-md-4 col-sm-12">
                                                <label class="p-label bold mb-0" asp-for="ContactNumber">Contact Number <span class="p-alt"><i>(Numerong tawagan)</i></span>  <span class="red">*</span></label>
                                                <input asp-for="ContactNumber" class="form-control numberInput " type="tel" min="1" />
                                                <span asp-validation-for="ContactNumber" class="text-danger contactnumber"></span>
                                            </div>
                                            <div class="col-md-4 col-sm-12">


                                                @if (ViewBag.Location == 0)
                                                {
                                                    <label class="p-label bold mb-0" asp-for="CountryDestination" hidden>Country of Destination <span class="p-alt"><i>(Bansang pupuntahan)</i></span>  <span class="red">*</span></label>
                                                    <select asp-for="CountryDestination" class="form-control entry-bg" hidden>
                                                        <option value="Philippines, Republic of (PHL)">Philippines, Republic of (PHL)</option>
                                                    </select>
                                                }
                                                else
                                                {
                                                    <label class="p-label bold mb-0" asp-for="CountryDestination">Country of Destination <span class="p-alt"><i>(Bansang pupuntahan)</i></span> <span class="red">*</span></label>
                                                    <select asp-for="CountryDestination" class="form-control entry-bg">
                                                        <partial name="_CountriesPartial" />
                                                    </select>
                                                }

                                                <span asp-validation-for="CountryDestination" class="text-danger countrydestination"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            @if (ViewBag.DocumentType != "Authorized")
                            {
                                <div class="mb-4">
                                    <div class="position-relative  mx-3 px-0 mb-3">
                                        <div id="documentList" class="border" style="
                                        padding: 10px;
                                        height: 150px;
                                        overflow-y: scroll;
                                        position: relative;
                                        top: 10px;">
                                            <div class="px-5">
                                                <table class="table" id="documentsTable">
                                                    <tr>
                                                        <th class="p-label bold">Document</th>
                                                        <th class="p-label bold">Quantity</th>
                                                        <th class="p-label bold">Transaction</th>
                                                    </tr>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                        <div>
                                            <input asp-for="ApostileData" id="apostileData" class="form-control" hidden />
                                        </div>

                                        <div class="bg-secondary px-5 position-absolute w-100 total-number">
                                            <p class="text-left text-white bold p-label py-2 mb-0">Total Number of Documents for Apostolization: <span id="documentsCount">0</span></p>
                                        </div>

                                    </div>

                                </div>
                            }

                        </div>
                        <div id="documentOwners">

                        </div>

                        <section class="addDocumentOwnerContainer">
                            <div class="doc-action d-flex">
                                @if (ViewBag.DocumentType != "Authorized")
                                {
                                    <button type="button" class="btn p-0 mr-3" data-toggle="modal" data-target="#documentTypesModal">
                                        <img src="~/images/icons/adddoc.png" />
                                    </button>

                                    <div class="d-flex flex-column mr-5">
                                        <p class="bold mb-0"><i>Add documents</i></p>
                                        <p class="p-alt mb-0 p-label"><i>Magdagdag ng dokumento</i></p>
                                    </div>

                                }

                                @if (ViewBag.DocumentType == "Authorized")
                                {
                                    <div class="d-flex">
                                        <button id="addDocumentOwnerBtn" type="button" class="btn p-0 mr-3">
                                            <img src="~/images/icons/addowner.png" />
                                        </button>

                                        <div class="d-flex flex-column mr-5">
                                            <p class="bold mb-0"><i>Add document owner</i></p>
                                            <p class="p-alt mb-0 p-label"><i>Magdagdag ng aplikante</i></p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </section>

                    </div>

                    <div>
                        <div class="hide-on-small">
                            <div class="card-body px-5 py-5 d-flex w-100">
                                <button onclick="history.back()" id="backToStepOne" type="button" class="courier-btn btn btn-secondary text-uppercase ml-auto mr-3">Back</button>
                                <input type="button" id="submitButton" class="courier-btn btn btn-primary text-uppercase mr-auto ml-3" value="Next">
                            </div>
                        </div>
                        <div class="show-on-small-only mt-5 my-auto">
                            <button onclick="history.back()" id="backToStepOne" type="button" class="courier-btn btn btn-secondary text-uppercase w-100 mb-4">Back</button>
                            <input type="button" id="submitButton" class="courier-btn btn btn-primary text-uppercase w-100" value="Next">
                        </div>
                    </div>



                </div>

            </form>

        }



    </div>

</div>

<div class="modal fade" id="documentTypesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-autoheight" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="~/images/add_document.PNG" style="height: 30px" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="background-color: #217ff3;color: white;height: 35px;border-radius:5px;margin-bottom:10px;">
                    <p class="text-center text-uppercase" style="padding: 8px;font-weight:600;font-size:16px;">Type of Documents</p>
                </div>
                <select id="docTypeSelect" class="form-control mb-3 mt-2 bg-light">
                    @foreach (var item in ViewData["DocumentTypes"] as List<Documents>)
                    {
                        <option id="@item.Id" value="@item.Value">@item.Name</option>
                    }
                </select>

                @if (ViewBag.Location == 1)
                {
                    <div class="mb-3" id="documentTypeInfo">
                        <small class="bold">Document Information:</small>
                        <div class="card white-bg p-2 px-3">
                            <span id="documentInfoText">*Original document issued by National Bureau of Investigation (NBI) with dry seal.</span>
                        </div>
                    </div>
                }
                else
                {

                    <div class="mb-3" id="documentTypeInfo">
                        <small class="bold">Document Information:</small>
                        <div class="card white-bg p-2 px-3">
                            <span id="documentInfoText">For issuance of DFA which will used in the Philippines only.</span>
                        </div>
                    </div>

                }

                <div class="mb-3" id="documentQuantity">
                    <h5 class="bold text-center mb-3">No. of Documents</h5>



                    <div class="d-flex">
                        <div class="d-flex flex-column ml-auto mr-2">
                            <span class="bold" style="text-align:center">Regular</span>
                            <input type="number" min="0" max="10" value="0" class="small transactionQuantity mx-auto mb-0 regular" id="qtyNbiClearanceRegular" style="width: 50px!important;height:auto!important; font-size: 24px">

                        </div>
                        <div class="d-flex flex-column mr-auto ml-2">
                            <div>
                                <span class="bold" style="text-align:center">Expedite</span>
                                <input type="number" min="0" max="10" value="0" disabled class="small transactionQuantity mx-auto mb-0 expedite" id="qtyNbiClearanceExpedite" style="width: 50px !important; height: auto !important; font-size: 24px ">
                            </div>
                        </div>
                    </div>
                </div>

                @if (ViewBag.Location == 1)
                {
                    <div id="documentTypeSample" style="margin-top: 35px;">
                        <small class="bold">*Personal Copy is NOT valid</small>
                        <img src="~/images/documents/1 NBI Personal Copy sample (Not Acceptable).png" class="w-100 mb-3 " />
                        <small class="bold">*Sample copy of NBI sundry</small>
                        <img src="~/images/documents/1 Sample NBI Sundry-1.png" class="w-100" />
                    </div>
                }

            </div>
            <div class="modal-footer">
                <div class="col-md-5 col-sm-5" style="margin-left: -15px;"> <button type="button" class="btn button-secondary text-white col-md-12 col-sm-12" data-dismiss="modal">Back</button></div>
                <div class="col-md-2 col-sm-2" style="margin-top:10px;">
                </div>
                <div class="col-md-5 col-sm-5" style="margin-left: -15px;"><button id="selectDocumentsBtnModal" type="button" class="btn button-primary col-md-12 col-sm-12" style="color:white;">ADD</button></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        $("#qtyNbiClearanceRegular").inputSpinner({ buttonsOnly: true })
        $("#qtyNbiClearanceExpedite").inputSpinner({ buttonsOnly: true })</script>

    <script src="~/js/personalinfo.js"></script>

}
