@using Microsoft.AspNetCore.Identity
@model DFACore.Models.ApplicantsViewModel
@using Microsoft.Extensions.Options
@using System.Linq

@{
    ViewData["Title"] = "Home Page";

    var defaultBranch = (BranchModel)ViewData["DefaultBranch"];
  

}
<style>
    body {
        margin: 0 !important;
    }

    .nav-item a {
        height: 30px;
        line-height: 15px;
        border: 1px solid #b7b7b7;
        color: gray;
    }

    .nav-item .active {
        color: white;
    }

    div#application-form {
        color: black;
    }

    #documentList h6 {
        font-weight: 600;
    }

    #appointmentTime div {
        margin-left: 10px;
    }

    #step-one input, #step-one-authorized input {
        text-transform: uppercase;
        font-weight: 500;
    }

    .red {
        color: red;
    }

    p.appointmentHeader {
        margin-bottom: 0;
    }


    .mapouter {
        position: relative;
        text-align: right;
        height: 500px;
        width: auto;
    }

    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 500px;
        width: 100% !important;
    }

    #loading {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        display: flex;
        opacity: 0.7;
        background: rgba(0, 0, 0, 0.91);
        z-index: 9999;
        text-align: center;
    }

    #loading-image {
        margin: auto;
    }

    .img-fluid {
        width: 100% !important;
    }
</style>

<div class="pageContainers" id="application-form" padding: 20px;
     height: auto;">
    <div id="loading">
        <div id="loading-image">
            <i id="loading-image" class="fa fa-spinner fa-spin fa-3x" style="color: white"></i>
        </div>
    </div>
    <div id="formContainer">
        <div asp-validation-summary="All" class="text-danger"></div>

        <section class="header px-4 mt-3">
            <div class="text-center mt-3 w-100 mb-4">
                <h3 class="black-text bold mb-0 mt-2 h3">Apostille Appointment System</h3>
            </div>
        </section>

        <p style="margin-bottom: 1rem;" class="show-on-large-only">
            <span class="float-left grey-text-bold font-weight-bold">
                @User.Identity.Name
            </span>
            <span class="float-right">
                <a asp-action="LogOff" asp-controller="Account" style="font-weight:bold;">Logout</a>
            </span>
            <span class="float-right" style="padding-right:20px;">
                @DateTime.Now.ToString("MMMM dd yyy HH:mm tt")
            </span>
        </p>

        <br class="show-on-large-only" />

        <div class="hide-on-large">
            <p class="p-label mb-1">
                <span class="grey-text-bold">@User.Identity.Name</span>
                <span class="float-right">@DateTime.Now.ToString("MMMM dd yyy HH:mm tt")</span>
            </p>
            <p class="text-right p-label"> <a asp-action="LogOff" asp-controller="Account" style="font-weight:bold;">Logout</a></p>
        </div>

        @{
            
            <div id="step-select-processing-site" class="tabcontent">
                <div style="background-color: #217ff3;color: white;height: 35px;border-radius:5px;margin-bottom:10px;">
                    <p class="text-center d-none d-md-block" style="padding: 8px;font-weight:600;font-size:16px;">Step 1 of 5</p>
                    <p class="text-center d-md-none" style="padding: 8px;font-weight:600;font-size:11px;">Step 1 of 5</p>
                </div>

                <div class="card-panel mb-3 w-100 white-bg mt-4 d-flex flex-column justify-content-center">
                    <div class="home-container w-100 mx-auto">
                        <div class="card-body p-3">
                            <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 10px;">

                                <div class="row justify-content-center">
                                    <div class="col-12 mb-2">
                                        <label class="mb-0 bold">Where will the document be used?</label>

                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="radDocument" id="radAbroad" value="Abroad">
                                            <label class="form-check-label" for="radAbroad">
                                                Abroad
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="radDocument" id="radPhil" value="Philippines">
                                            <label class="form-check-label" for="radPhil">
                                                Philippines
                                            </label>
                                        </div>
                                    </div>

                                </div>

                                <div class="row justify-content-center">
                                    <div class="col-12 mb-2">
                                        <label class="mb-0 bold">I am the</label>

                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="radOwner" id="radDocOwner" value="Document Owner">
                                            <label class="form-check-label" for="radDocOwner">
                                                Document Owner
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="radOwner" id="radAuthorized" value="Authorized Representative">
                                            <label class="form-check-label" for="radAuthorized">
                                                Authorized Representative
                                            </label>
                                        </div>
                                    </div>

                                </div>

                                <div class="row justify-content-center">
                                    <div class="col-12 mb-2">
                                        <label class="mb-0 bold">Please select the site where you wish to process your Apostille</label>
                                    </div>
                                    <div class="col-12">
                                        <select asp-for="Record.ProcessingSite" id="site" class="form-control">

                                            @*<option value="DFA - OCA (ASEANA)">DFA - OCA (ASEANA)</option>
                                                <option value="CO East (SM Megamall)">CO East (SM Megamall)</option>
                                                <option value="CO Northeast (Ali Mall)">CO Northeast (Ali Mall)</option>
                                                <option value="CO South (Alabang)">CO South (Alabang)</option>
                                                <option value="CO West (SM Manila)">CO West (SM Manila)</option>
                                                <option value="CO Pampanga">CO Pampanga</option>
                                                <option value="CO Iloilo">CO Iloilo</option>
                                                <option value="CO Cebu">CO Cebu</option>*@
                                            @*@if (ViewBag.Location == 0)
                                                {
                                                    <option value="DFA - OCA (ASEANA)">DFA - OCA (ASEANA)</option>
                                                }
                                                else
                                                {

                                                }*@
                                            @foreach (var item in ViewData["Branches"] as List<Branch>)
                                            {
                                                <option value="@item.BranchName">@item.BranchName</option>
                                            }

                                        </select>
                                        <button id="viewMap-trigger" data-toggle="modal" data-target="#viewMap-modal" type="button" class="button-other text-white mt-3" style="font-size:16px;margin-top:5px;">View Map</button>
                                    </div>
                                </div>


                                <div class="row m-0 justify-content-center mt-3">
                                    <div class="col-12 p-0" style="padding: 10px;">
                                        <label class="col-sm-12 p-0" style="font-weight:bold">Address</label>
                                        <label id="lblProcessingSiteAddress" class="col-sm-12 p-0">@defaultBranch.BranchAddress</label>
                                        <input asp-for="Record.ProcessingSiteAddress" id="address" class="form-control" value="@defaultBranch.BranchAddress" style="display:none" />

                                        <label class="col-sm-12 p-0" style="font-weight:bold">Office Hours</label>
                                        <label id="lblProcessingSiteOfficeHours" class="col-sm-12 p-0">@defaultBranch.OfficeHours</label>

                                        <label class="col-sm-12 p-0" style="font-weight:bold">Contact Number</label>
                                        <label id="lblProcessingSiteContactNumber" class="col-sm-12 p-0">@defaultBranch.ContactNumber</label>

                                        <label class="col-sm-12 p-0" style="font-weight:bold">Email</label>
                                        <label id="lblProcessingSiteEmail" class="col-sm-12 p-0">@defaultBranch.Email</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-5 col-sm-5" style="margin-bottom: 10px;">
                                        <button id="backToStepOne" type="button" class="btn button-secondary col-md-12 col-sm-12" style="color: white;border: 1px solid darkgray;">Back</button>
                                    </div>
                                    <div class="col-md-2 col-sm-2">

                                    </div>
                                    <div class="col-md-5 col-sm-5">
                                        <button id="stepTwoNextBtn" type="button" class="btn button-primary col-md-12 col-sm-12 " style="color:white;">Next</button>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>

        }



    </div>

</div>

@section Scripts {

    <script src="~/js/siteselection.js"></script>

}
