@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <style>
        .navbar-toggler {
            display: none
        }

        @@media screen and (min-width: 601px) {
            div.example {
                font-size: 80px;
            }
        }

        /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
        @@media screen and (max-width: 600px) {
            /*#BannerLogo {
                        display: none;
                    }*/
            #dfaTitle {
                font-size: 15px;
                margin-top: 5px;
            }

            #dfaAddress {
                display: none;
            }
        }

        body {
            padding-top: 140px;
        }

        @@media screen and (max-width: 768px) {
            body {
                padding-top: 50px;
            }
        }


        /*
                    src: src: url('../font/bebas/BEBAS.woff') format('woff');
                    src: local('BEBAS'), url('../font/bebas/BEBAS.woff') format('woff'), url('../font/bebas/BEBAS.ttf') format('truetype');
                */
        @@font-face {
            font-family: 'BEBAS';
            src: url('../font/bebas/BEBAS.ttf');
        }
    </style>
</head>
<body>
    <header style="background-color: #217ff3 !important;">
        <nav class="navbar navbar-expand-lg navbar-light mb-3 fixed-top navbar-fixed-top" style="background-color: #217ff3 !important;">
            <div class="container" style="width:100%!important">
                <div id="dfa-banner">
                    <img src="~/Banner.png" class="img-fluid" style="width:50%!important" />
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="list-inline" style="font-size:10px;margin-top:10px;color:white;">
                            <a asp-action="Index" asp-controller="Administration" class="list-inline-item" style="color:white">Home</a>
                            @if (User.IsInRole("Super Administrator"))
                            {
                                <a asp-action="Branch" asp-controller="Administration" class="list-inline-item" style="color:white">Consular Offices</a>
                                <a asp-action="Notice" asp-controller="Administration" class="list-inline-item" style="color:white">Notices</a>
                                <a asp-action="UploadImage" asp-controller="Administration" class="list-inline-item" style="color:white">Set Type of Doc</a>
                                <a asp-action="Price" asp-controller="Administration" class="list-inline-item" style="color:white">Set Price</a>
                                <a asp-action="Holiday" asp-controller="Administration" class="list-inline-item" style="color:white">Calendar</a>
                                <a asp-action="Account" asp-controller="Administration" class="list-inline-item" style="color:white">Accounts</a>
                            }
                            <a asp-action="ActivityLog" asp-controller="Administration" class="list-inline-item" style="color:white">History</a>

                            @if (User.IsInRole("Administrator"))
                            {
                                <a asp-action="UserAccount" asp-controller="Administration" class="list-inline-item" style="color:white">Accounts</a>
                            }



                            <a asp-action="LogOff" asp-controller="Administration" class="list-inline-item" style="color:white">Logout</a>
                            <p class="list-inline-item pull-right" style="margin-bottom:0">
                                Apostille Appointment Management System
                            </p>
                        </div>
                        <p class="pull-right" style="margin-bottom:0;font-size:10px;color:white;">@User.Identity.Name | @DateTime.Now.ToString("MMMM dd yyy HH:mm tt")</p>
                    }

                </div>
            </div>

            <br />
            <br />


        </nav>



    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - DFACore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link href='~/lib/calendar/core/main.css' rel='stylesheet' />
    <link href='~/lib/calendar/daygrid/main.css' rel='stylesheet' />
    <link href='~/lib/calendar/timegrid/main.css' rel='stylesheet' />
    <script src='~/lib/calendar/core/main.js'></script>
    <script src='~/lib/calendar/interaction/main.js'></script>
    <script src='~/lib/calendar/daygrid/main.js'></script>
    <script src='https://momentjs.com/downloads/moment.min.js'></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
