
@model DFACore.Models.RegisterViewModel;
@using Microsoft.Extensions.Options
@inject IOptions<DFACore.Models.ReCAPTCHASetting>  GoogleRecaptcha

@{
    ViewData["Title"] = "Register";
}
<style>
    #registrationForm label, #registrationForm input {
        font-size: 14px;
        font-weight: 500;
        color: #9a9a9a;
    }

    #reg-info input {
        text-transform: uppercase;
    }

    #reg-account input {
        text-transform: none !important;
    }

    .form-group {
        padding-left: 30px;
        padding-right: 30px;
    }

    button a {
        color: white;
    }

    label {
        color: #000000 !important;
        font-family: Arial;
        font-weight: normal;
    }
</style>
<div class="row pageContainers">
    <div class="col-lg-3 col-md-1 col-sm-1"></div>
    <div class="col-lg-6 col-md-10 col-sm-10">
        <form id="registrationForm" method="post" style="border: 1px solid #b7b7b7;
        height: auto;
">
            <div style="background-color: #217ff3;color: white;height: 35px;">
                <p class="text-left " style="padding: 8px;font-weight:600;font-size:16px;">Account Registration</p>
            </div>
            <div asp-validation-summary="All" class="text-danger" style="margin-top:20px;"></div>
            <p class="form-group" style="float:right;"><i>(Fields with asterisks (<span class="red-text">*</span>) are required)</i></p>
            <div style="padding:10px;">
                <div id="reg-info" style="margin-top: 20px;">
                    <div class="form-group ">
                        <label class="black-text" asp-for="FirstName">First Name <span class="red">*</span></label>
                        <input asp-for="FirstName" class="form-control black-text" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group black-text">
                        <label class="black-text" asp-for="MiddleName"></label>
                        <input asp-for="MiddleName" class="form-control black-text" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </div>

                    <div class="form-group black-text">
                        <label class="black-text" asp-for="LastName">Last Name <span class="red">*</span></label>
                        <input asp-for="LastName" class="form-control black-text" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group black-text">
                        <label class="black-text" asp-for="Suffix"></label>
                        @*<input asp-for="Suffix" class="form-control" />*@
                        <select asp-for="Suffix" class="form-control black-text">
                            <option value="">N/A</option>
                            <option value="JR.">JR.</option>
                            <option value="SR.">SR.</option>
                            <option value="I">I</option>
                            <option value="II">II</option>
                            <option value="III">III</option>
                            <option value="IV">IV</option>
                            <option value="V">V</option>
                        </select>
                        <span asp-validation-for="Suffix" class="text-danger"></span>
                    </div>
                    <div class="form-group black-text">
                        <div class="row">
                            <div class="col-md-6 col-sm-3">
                                <label class="black-text" asp-for="Gender">Gender <span class="red">*</span></label>
                                <br />
                                @Html.RadioButtonFor(m => m.Gender, "Male") @Html.Label("Male")
                                @Html.RadioButtonFor(m => m.Gender, "Female") @Html.Label("Female")
                                <span asp-validation-for="Gender" class="text-danger"></span>
                                @*<div class="d-none d-md-block" style="padding:5px;">
                                        @Html.RadioButtonFor(m => m.Gender, "Male") @Html.Label("Male")
                                        @Html.RadioButtonFor(m => m.Gender, "Female") @Html.Label("Female")
                                        <span asp-validation-for="Gender" class="text-danger"></span>
                                    </div>
                                    <div class="d-sm-none" >
                                        @Html.RadioButtonFor(m => m.Gender, "Male") @Html.Label("Male")
                                        @Html.RadioButtonFor(m => m.Gender, "Female") @Html.Label("Female")
                                        <span asp-validation-for="Gender" class="text-danger"></span>
                                    </div>*@
                            </div>
                            <div class="col-md-6 col-sm-10">
                                <label class="black-text" asp-for="DateOfBirth">Date of Birth <span class="red">*</span></label>
                                <input type="date" asp-for="DateOfBirth" class="form-control black-text" />
                                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="reg-account">
                    <div class="form-group black-text">
                        <label class="black-text" asp-for="Email">Email <span class="red">*</span></label>
                        <input asp-for="Email" class="form-control black-text" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group black-text">
                        <label class="black-text" asp-for="Password">Password <span class="red">*</span></label>
                        <input asp-for="Password" class="form-control black-text" id="reg-password" />
                        <span toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-password float-right" style="position: relative;top: -24px;right: 10px;"></span>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group black-text">
                        <label class="black-text" asp-for="ConfirmPassword">Confirm Password <span class="red">*</span></label>
                        <input asp-for="ConfirmPassword" class="form-control black-text" id="reg-confirmpassword" />
                        <span toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-confirmpassword float-right" style="position: relative;top: -24px;right: 10px;"></span>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <input id="Token" asp-for="Token" type="hidden" />

                <div class="form-group">
                    <div class="col-md-12 col-sm-12" style="        text-align: center;">
                        @*<input asp-for="IsTermsAndConditionChecked" />
                            <label class="form-check-label" for="terms_and_condition">
                                I accept the <a href="#" data-toggle="modal" data-target="#exampleModal">Terms and Conditions</a>
                            </label>*@
                        <div class="form-check">
                            <label class="form-check-label">
                                <input asp-for="IsTermsAndConditionChecked" type="checkbox" class="form-check-input">I accept the <a href="#" data-toggle="modal" data-target="#exampleModal">Terms and Conditions</a>
                            </label>
                        </div>
                    </div>

                </div>
                <div class="row form-group">
                    <div class="col-md-5 col-sm-5"><button type="button" class="btn button-secondary col-12" onclick="location.href='@Url.Action("Login", "Account")'" style="color:white; margin-bottom:10px;">@Html.ActionLink("Back", "Login", "Account")</button></div>
                    <div class="col-md-2 col-sm-2">
                    </div>
                    <div class="col-md-5 col-sm-5"><button type="submit" class="btn btn-primary col-12">Register</button></div>
                </div>
            </div>


        </form>
    </div>
    <div class="col-lg-3 col-md-1 col-sm-1"></div>
</div>
<div class="row">


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row text-center">
                        <div class="col-lg-4 col-md-5 col-sm-5"></div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p class="black-text" style="font-size:12px;">Department of Foreign Affairs</p>
                            <p class="black-text" style="font-size:12px;margin-top: -15px;">Office of Consular Affairs</p>
                            <p class="black-text" style="font-size:12px;margin-top: -15px;">Authentication Division</p>
                        </div>
                        <div class="col-lg-4 col-md-5 col-sm-5"></div>
                    </div>
                    <div class="row text-center">
                        <div class="col-lg-3 col-md-2 col-sm-12"></div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h4 class="modal-title text-center black-text-bold">TERMS AND CONDITIONS</h4>
                        </div>
                        <div class="col-lg-3 col-md-2 col-sm-12"></div>
                    </div>
                    <div class="container">
                        <hr />
                        <p class="black-text" style="font-size:14px;">
                            Welcome to the <strong>DFA APOSTILLE APPLICATION & APPOINTMENT SYSTEM</strong>. These Terms apply to your use of the Website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern Our relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website.
                        </p>

                        <p class="black-text-bold" style="font-size:16px;">DEFINITIONS</p>
                        <p class="black-text" style="font-size:14px;">
                            For the purposes of this Website Terms of Use:
                        </p>
                        <p class="black-text" style="font-size:14px;">
                            Terms of Use (also referred as “Terms”) means the Website Terms of Use that form the entire agreement between You and Us regarding the use of the service.
                        </p>
                        <p class="black-text" style="font-size:14px;">
                            "We", "Us" or "Our" in this Website Terms of Use refers to DFA.
                        </p>
                        <p class="black-text" style="font-size:14px;">
                            “You” and “Your” means the individual accessing or using the Website, or a company, or any legal entity on behalf of which such individual is accessing or using the Website, as applicable.
                        </p>
                        <p class="black-text" style="font-size:14px;">
                            Cookies means small files that are placed on your computer, mobile device or any other device by a website, containing details of your browsing history on that website among its many uses.
                        </p>
                        <p class="black-text" style="font-size:14px;">
                            Website refers to <strong>DFA ONLINE APOSTILLE APPLICATION & APPOINTMENT SYSTEM</strong>, accessible from www.dfa.gov.ph/apostille-appointment
                        </p>
                        <p class="black-text" style="font-size:14px;">
                            Personal Information refers to any information relating to an identifiable person such as Name, Date of Birth, Address, Gender, Contact Number, Email
                        </p>

                        <p class="black-text-bold" style="font-size:16px;">CHANGES</p>
                        <p class="black-text" style="font-size:14px;">
                            We may change these Terms at any time by updating them on the Website. Unless stated otherwise, any change takes effect immediately. You are responsible for ensuring you are familiar with the latest Terms. By continuing to access and use the Website, you agree to be bound by the changed Terms.
                        </p>

                        <p class="black-text-bold" style="font-size:16px;">
                            USER REPRESENTATION
                        </p>
                        <p class="black-text" style="font-size:14px;">
                            The Website is intended for users who are at least 18 years old. Persons under the age of 18 must have the permission of, and be directly supervised by, their parent or guardian to use the Website. If you are a minor, you must have your parent or guardian read and agree to these Terms and Conditions prior to you using the Website. All Personal Information submitted must be be true, accurate, current, and complete. The DFA is not liable for any typographical error and/or innaccuracy of information You submitted. The Website is not intended for any illegal, unauthorized purpose that will violate any applicable law or regulation.
                        </p>

                        <p class="black-text-bold" style="font-size:16px;">
                            DESCRIPTION OF SERVICE
                        </p>
                        <p class="black-text" style="font-size:14px;">
                            The <strong>ONLINE APPLICATION & APPOINTMENT SYSTEM</strong> provides individuals to fill-out and submit their applications forms electronically anytime and anywhere thus reducing the turnaround time to process and release the Apostille to the applicants. Recipients of the Apostille who wish to verify the authenticity of the document may do so by going to the web verification page. If You provide any information that is untrue and inaccurate, We have the right to suspend your Apostille Application.
                        </p>

                        <p class="black-text-bold" style="font-size:16px;">
                            PRIVACY POLICY
                        </p>
                        <p class="black-text" style="font-size:14px;">
                            In compliance with the pertinent provisions of Republic Act 10173, otherwise known as the Data Privacy Act of 2012, access to sensitive and personal information is highly secured from unauthorized use and intrusion.  We collect, store, record, organize, process, update or modify, retrieve, use, consolidate, block, erase or destruct your personal information provided herein. Your Personal Information submitted shall only be used solely for the Processing and Issuance of Apostille. We do not disclose personal information to third parties for them to use for their own purposes unless with Your consent or otherwise required by any applicable law or any court. Any personal information you provide to us may be stored on the secure servers throughout the validity of your Apostille.
                        </p>

                        <p class="black-text-bold" style="font-size:16px;">
                            SECURITY POLICY
                        </p>
                        <p class="black-text" style="font-size:14px;">
                            The Website uses intrusion detection systems, WAFX and workstation firewall encryption systems such as SHA 256-bit and 2048 Secure Sockets Layer (SSL) and other internal controls which are meant to safeguard, physically and logically, all our servers and information systems, including the data stored in these systems. Furthermore, We have an in-house Databank and Network Management Division that secures the maintenance of the whole facility. The Website is secure, Digital Certificates is installed and running. The browser address bar is Green authenticates that surfing on this site is secured.
                        </p>

                        <p class="black-text-bold" style="font-size:16px;">
                            COOKIES
                        </p>
                        <p class="black-text" style="font-size:14px;">
                            Essential Cookies <br />
                            Type: Session Cookies <br />
                            Administered by: Us <br />
                        </p>
                        <p class="black-text" style="font-size:14px;">
                            Purpose: These Cookies are essential to provide You with services available through the Website and to enable You to use some of its features. They help to authenticate users and prevent fraudulent use of user accounts. Without these Cookies, the services that You have asked for cannot be provided, and We only use these Cookies to provide You with those services.
                        </p>
                        <p class="black-text" style="font-size:14px;">
                            Your Choices Regarding Cookies: If You prefer to avoid the use of Cookies on the Website, first You must disable the use of Cookies in your browser and then delete the Cookies saved in your browser associated with this website. You may use this option for preventing the use of Cookies at any time.
                        </p>

                        <p class="black-text-bold" style="font-size:16px;">
                            WEBSITE AVAILABLITY
                        </p>
                        <p class="black-text" style="font-size:14px;">
                            You can access Our website by entering the website's URL in Your browser (www.dfa.gov.ph/apostille-appointment) available 24 hours, 7 days a week except during planned maintenance, technical issues beyond our control and Acts of God.
                        </p>

                        <p class="black-text-bold" style="font-size:16px;">
                            CONTACT US
                        </p>
                        <p class="black-text" style="font-size:14px;">
                            For further information regarding use of the Website, please contact us at:
                        </p>
                        <p class="black-text" style="font-size:14px;">
                            Department of Foreign Affairs <br />
                            Office of Consular Affairs c/o Authentication Division ATTN: Data Protection Officer<br />
                            Bradco Ave. cor. Macapagal Blvd., Aseana Business Park, Parañaque City 1714<br />
                            Email: oca.authentication@dfa.gov.ph<br />
                        </p>
                    </div>
                    <div class="container" style="padding:10px">
                        <hr />
                        <div class="row" style="padding: 10px;">
                            <div class="col-lg-5 col-md-6 col-sm-12">
                                <button type="button" onclick="TermsAndConditionsAction(false)" class="btn button-secondary" data-dismiss="modal" style="color:white;width: 100%;">Decline</button>
                            </div>
                            <div class="col-lg-2 col-md-12 col-sm-12" style="margin-bottom: 10px;"></div>
                            <div class="col-lg-5 col-md-6 col-sm-12">
                                <button type="button" onclick="TermsAndConditionsAction(true)" class="btn button-primary " data-dismiss="modal" style="color:white;width: 100%;">Agree</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script src="https://www.google.com/recaptcha/api.js?render=@GoogleRecaptcha.Value.ReCAPTCHA_Site_Key"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@GoogleRecaptcha.Value.ReCAPTCHA_Site_Key', { action: 'homepage' }).then(function (token) {
                console.log(token);
                $('#Token').val(token);
            });
        });
        $(document).on('click', '.toggle-password', function() {

            $(this).toggleClass("fa-eye fa-eye-slash");

            var input = $("#reg-password");
            input.attr('type') === 'password' ? input.attr('type', 'text') : input.attr('type', 'password');
            console.log(input.attr('type'));
        });
        $(document).on('click', '.toggle-confirmpassword', function () {

            $(this).toggleClass("fa-eye fa-eye-slash");

            var input = $("#reg-confirmpassword");
            input.attr('type') === 'password' ? input.attr('type', 'text') : input.attr('type', 'password');
            console.log(input.attr('type'));
        });
         $('#reg-confirmpassword').on("cut copy paste",function(e) {
                e.preventDefault();
         });
        function TermsAndConditionsAction(result) {
            console.log(result);
            //$('#IsTermsAndConditionChecked').ch
            $("#IsTermsAndConditionChecked").prop("checked", result);
            $("#IsTermsAndConditionChecked").val(result);
            console.log($("#IsTermsAndConditionChecked").val());
        }

   //});
    </script>
}