
@model DFACore.Models.RegisterViewModel;
@using Microsoft.Extensions.Options
@inject IOptions<DFACore.Models.ReCAPTCHASetting>  GoogleRecaptcha

@{
    ViewData["Title"] = "Register";
}
<style>
    #registrationForm label, #registrationForm input {
        font-size: 14px;
        font-weight: 500;
        color: #9a9a9a;
    }

    .form-group {
        padding-left: 30px;
        padding-right: 30px;
    }
</style>
<div class="row">
    <div class="col-md-3 col-sm-3"></div>
    <div class="col-md-6 col-sm-6">
        <form id="registrationForm" method="post" style="border: 1px solid #b7b7b7;height:auto; ">
            <div style="background-color: #217ff3;color: white;height: 35px;">
                <p class="text-left " style="padding: 8px;font-weight:600;font-size:16px;">Account Registration</p>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div style="padding:10px;">
                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MiddleName"></label>
                    <input asp-for="MiddleName" class="form-control" />
                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Suffix"></label>
                    <input asp-for="Suffix" class="form-control" />
                    <span asp-validation-for="Suffix" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="row col-md-12 col-sm-12">
                        <div class="col-md-6 col-sm-12">
                            <label asp-for="Gender"></label>
                            @*<select asp-for="Gender" class="form-control" id="StudentGender" name="StudentGender">
                                    <option>Select Gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                                @Html.DropDownList("GenderList", new List<SelectListItem>
                                {
                                   new SelectListItem{ Text="Male", Value = "1" },
                                   new SelectListItem{ Text="Female", Value = "2" },
                                   new SelectListItem{ Text="Others", Value = "3" }
                                })*@
                            <br />
                            @Html.RadioButtonFor(m => m.Gender, "Male") @Html.Label("Male")
                            @Html.RadioButtonFor(m => m.Gender, "Female") @Html.Label("Female")
                            @*<input type="radio" asp-for="Gender" name="male" value="male" />
                                <label for="male" style="padding-right: 20px;">Male</label>
                                <input type="radio" asp-for="Gender" name="female" value="female" />
                                <label for="female">Female</label>*@
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label asp-for="DateOfBirth"></label>
                            <input type="date" asp-for="DateOfBirth" class="form-control" />
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <input asp-for="Token" type="hidden" />
                
                <div class="form-group">
                    <div class="col-md-12 col-sm-12" style="text-align: center;">
                        <input type="checkbox" name="verify" value="verify" />
                        <label class="form-check-label" for="terms_and_condition">
                            I accept the <a href="#" data-toggle="modal" data-target="#exampleModal">Terms and Conditions</a>
                        </label>
                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12">
                    @*<button type="submit" class="btn btn-primary col-md-6 col-sm-6" style="margin-left:25%;" >@Html.ActionLink("Register","Register","Account",new { Model})</button>*@
                    <button type="submit" class="btn btn-primary col-md-6 col-sm-6" style="margin-left:25%;">Register</button>
                </div>
            </div>


        </form>
    </div>
    <div class="col-md-3 col-sm-3"></div>
</div>
<div class="row">
    <div class="col-md-4">


    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Terms And Conditions</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Body of modal...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script src="https://www.google.com/recaptcha/api.js?render=@GoogleRecaptcha.Value.ReCAPTCHA_Site_Key"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@GoogleRecaptcha.Value.ReCAPTCHA_Site_Key', { action: 'homepage' }).then(function (token) {
                console.log(token);
                $('#Token').val(token);
            });
        });
    </script>
}