@model DFACore.Models.ApplicantRecordViewModel
@{
    Layout = null;
    var sched = DateTime.ParseExact(Model.ScheduleDate, "MM/dd/yyyy hh:mm tt",
            System.Globalization.CultureInfo.InvariantCulture);
    var docuData = Newtonsoft.Json.JsonConvert.DeserializeObject<List<ApostilleDocumentModel>>(Model.ApostileData);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif, Helvetica, sans-serif;
            font-weight: 400;
            color: black;
        }

        .appointMentTable {
            font-size: 14px;
        }

        .appointMentValue {
            font-weight: bold;
        }

        .customTable table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

            .customTable table td {
                padding: 5px;
            }

        .borderless td {
            border: none;
        }

        .borderless td {
            padding: 1px;
            vertical-align: top;
        }

        .padding30 {
            padding-left: 30px !important;
        }
        p {
            margin-top: 0;
            margin-bottom: 0;
        }
    </style>
</head>
<body>

    <div class="container">
        <div style="padding-left:10px;padding-right:10px;">
            <div class="row">
                <p class="text-right">@DateTime.UtcNow.ToLocalTime().ToString("MMMM dd, yyyy")</p>
            </div>
            <div class="row">
                <p>
                    Dear <span style="font-weight:bold">@Model.Title @Model.FirstName?.ToUpper() @Model.MiddleName?.ToUpper() @Model.LastName?.ToUpper() @Model.Suffix</span>, <br />
                    Your application has been successfully confirmed.
                </p>

                <div class="customTable">
                    <table style="width:100%">
                        <tbody>
                            <tr>
                                <td>
                                    <span class="appointMentTable">Appointment Code</span><br />
                                    <span class="appointMentValue">@Model.ApplicationCode</span>
                                </td>
                                <td>
                                    <span class="appointMentTable">Appointment Date</span><br />
                                    <span class="appointMentValue">@sched.ToString("MMMM dd, yyyy")</span>
                                </td>
                                <td>
                                    <span class="appointMentTable">Time</span><br />
                                    <span class="appointMentValue">@sched.ToString("hh:mm tt")</span>
                                </td>
                                <td>
                                    <span class="appointMentTable">Processing Site</span><br />
                                    <span class="appointMentValue">@Model.ProcessingSite</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>



                <p style="color:red;font-weight:bold;font-size:15px;margin-top:5px;">IMPORTANT REMINDER: Be at the DFA Processing Site at least 1 hour BEFORE your scheduled appointment.</p>


            </div>

            <div class="row">
                <p class="text-center" style="font-weight:bold;font-size:22px;">Application Summary</p>
            </div>
            <div class="row">
                <table class="borderless">
                    <tbody>
                        <tr>
                            <td>Document Owner:</td>
                            <td class="padding30"> @Model.FirstName?.ToUpper() @Model.MiddleName?.ToUpper() @Model.LastName?.ToUpper() @Model.Suffix</td>
                        </tr>
                        <tr>
                            <td>Address:</td>
                            <td class="padding30">@Model.Barangay?.ToUpper() @Model.City?.ToUpper() @Model.Region?.ToUpper()</td>
                        </tr>
                        <tr>
                            <td>Contact No.:</td>
                            <td class="padding30">@Model.ContactNumber</td>
                        </tr>
                        <tr>
                            <td>Authorized Representative:</td>
                            <td class="padding30">@Model.NameOfRepresentative?.ToUpper()</td>
                        </tr>
                        <tr>
                            <td>Contact No.:</td>
                            <td class="padding30">@Model.RepresentativeContactNumber?.ToUpper()</td>
                        </tr>
                        <tr>
                            <td>Company/Office:</td>
                            <td class="padding30">@Model.CompanyName?.ToUpper()</td>
                        </tr>
                        <tr>
                            <td>Country of Destination:</td>
                            <td class="padding30">@Model.CountryDestination?.ToUpper()</td>
                        </tr>
                        <tr>
                            <td>Type of Document/s:</td>
                            <td class="padding30">
                                @foreach (var item in docuData)
                                {
                                    <span>(@item.Quantity)</span> <span>@item.Name</span> <br />
                                }

                            </td>
                        </tr>
                        <tr>
                            <td>Total Fees:</td>
                            <td class="padding30">@Model.Fees?.ToUpper()</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <p class="text-center" style="font-weight:bold;font-size:22px;margin-top:15px;">Processing of Documents</p>
            </div>
            <p class="font-italic font-weight-bold" style="text-decoration:underline">(To be filled-out by Applicant/Representative)</p>
            <p style="margin-left:10px;">This if to certify that I read the conditions below and fully understand it's consequence:</p>
            <p>
                1. Submission of a
                <span class="font-italic"> Falsified </span> or
                <span class="font-italic"> Forged </span> document is
                <span class="font-weight-bold">PUNISHABLE BY LAW</span> and will be dealt accordingly;
            </p>
            <p>
                2. That I am aware of the condition of my document/s submitted;
            </p>
            <p>
                3.
                <span class="font-weight-bold">
                    In case my document/s will be submitted to a country where the Apostille Convention does not apply, I
                    undertake to contract and/or present the said document/s to the concerned foreign Embassy/Consulate in the Philippines for legalization;
                </span>
            </p>
            <p>
                4. The DFA assumes no responsibility with the Apostillized document if the same will not be accepted by the receiving country; and
            </p>
            <p>
                5. The DFA assumes no responsibility for any delay, delivery error, loss or damage to the document once it has
                been released to my authorized representative/courier company.
            </p>
            <p style="margin-top:20px;">
                <span style="margin-left: 100px;">
                    __________________________________
                </span>
                <span style="margin-left:50px;">
                    ________________________
                </span>
            </p>
            <p style="margin-top:0;">
                <span style="margin-left:160px;">
                    Signature over Printed Name
                </span>
                <span style="margin-left:180px;">
                    Date
                </span>
            </p>
            <p style="margin-bottom:10px;">
                <span style="margin-left:170px;margin-top:-20px;">
                    (Applicant/Representative)
                </span>
            </p>
            <p class="font-italic font-weight-bold" style="text-decoration:underline">(To be filled-out by Processor)</p>
            <p class="font-weight-bold">
                <span>Total Number of Document/s __________</span>
                <span style="margin-left:10px;"> Releasing Processor ________________________________</span>
            </p>
            <input type="checkbox" name="verification" />
            <label for="verification" class="font-weight-bold">FOR VERIFICATION (Please specify)______________________________________________________</label>
            <br />
            <input type="checkbox" name="verification" />
            <label for="verification" class="font-weight-bold">FOR ENCODING UNIT__________________________________________________________________</label>
            <br />
            <p class="font-weight-bold" style="margin-left:20px;">
                OTHER REMARKS ____________________________________________________________________
            </p>
            <p class="text-center" style="font-weight:bold;font-size:22px;margin-top:15px;">Releasing of Documents</p>



            <p class="font-italic font-weight-bold" style="text-decoration:underline">(To be filled-out by Releasing Personnel upon release)</p>
            <p class="font-weight-bold">Total Number of Released Document/s:______</p>
            <p class="font-weight-bold">
                <span>Remarks:________________________</span>
                <span style="margin-left:20px;"> Releasing Personnel:________________________</span>
            </p>

            <p class="font-italic font-weight-bold" style="text-decoration:underline">
                (To be filled-out by Applicant/Representative upon release)
            </p>
            <p>
                1. This is to certify that I received the Apostillized document/s and the entries therein are correct based on the
                submitted documents;

            </p>
            <p>
                2. I received a total of __________ document/s.
            </p>
            <br />
            <br />
            <p>
                <span style="margin-left:100px;">
                    __________________________________
                </span>
                <span style="margin-left:50px;">
                    ________________________
                </span>
            </p>
            <p style="margin-top:0;">
                <span style="margin-left:160px;">
                    Signature over Printed Name
                </span>
                <span style="margin-left:180px;">
                    Date
                </span>
            </p>
            <p style="margin-top:10px;">
                <span style="margin-left:170px;margin-top:-20px;">
                    (Applicant/Representative)
                </span>
            </p>
            <br />
            <p class="font-italic " style="font-size:14px;color:gray;">
                Authentication requirements may be subject to change. The Department may require additional supporting documents if necessary.
            </p>
            <hr />
            <p class="font-weight-bold">Procedures for Application</p>
            <p>
                1. Present your confirmed appointment letter to the Appointment Verification Counter.
            </p>
            <p>
                2. Prepare the necessary documents before you proceed to the processing window.
            </p>
            <p>
                3. Present your ID (original and photocopy) together with the documents to the processor for assessment.
            </p>
            <p>
                4. Pay corresponding fees to the Cashier.
            </p>
            <p>
                5. Bring your original ID and the official receipt to claim the document on the scheduled date and time of release.
            </p>

            <p class="font-weight-bold">Filing/Claiming Apostille applications via Authorized Representative</p>
            <p>
                1. Authorization letter from the owner; (For minor applicants - Original Special Power of Attorney executed by parents).
            </p>
            <p>
                2. Photocopy of the owner's ID bearing his/her signature; and
            </p>
            <p>
                3. Photocopy and original copy of representative's ID.
            </p>

            <p>
                List of acceptable ID's:
            </p>
            <p>
                *All digitized Philippine government-issued ID's bearing the signature of the applicant.
            </p>
            <p>
                *Other acceptable ID's: Senior Citizen's ID, Solo Parent ID, PWD ID, Voter's ID, Voter's Certification.
            </p>
            <hr />

            <p class="font-weight-bold"> IMPORTANT NOTICE</p>
            <p>
                <span>All</span>
                <span class="font-weight-bold">unclaimed</span>
                <span>document/s</span>
                <span class="font-weight-bold">will be disposed of after three (3) months </span>
                <span>from the scheduled date of released.</span>
            </p>
        </div>




    </div>

</body>
</html>

